Repository MethanePowered/MethaneKit: changes, and which Codecov flags are due for each by the changed paths.
All: Common Primitives, Data Animation, Data Primitives, Data Provider, Data Range-Set, Data Types, Platform Utils, Platform Input, Platform App-View, Platform App, Graphics Types, Graphics RHI, Graphics Primitives, Graphics Mesh, Graphics Camera, Graphics App, User Interface Types, User Interface Typography, User Interface Widgets, User Interface App

Fix crashes on Vulkan debug object name change
  Apps/02-HelloCube/HelloCubeApp.cpp
  Apps/04-ShadowCube/ShadowCubeApp.cpp
  Apps/06-CubeMapArray/CubeMapArrayApp.cpp
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/Utils.hpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderContext.cpp
Due: Graphics RHI

Revert adding of SetObjectName function for name formatting
  Apps/01-HelloTriangle/HelloTriangleApp.cpp
  Apps/01-HelloTriangle/README.md
  Apps/02-HelloCube/HelloCubeApp.cpp
  Apps/03-TexturedCube/TexturedCubeApp.cpp
  Apps/04-ShadowCube/ShadowCubeApp.cpp
  Apps/05-Typography/TypographyApp.cpp
  Apps/06-CubeMapArray/CubeMapArrayApp.cpp
  Apps/07-ParallelRendering/ParallelRenderingApp.cpp
  Apps/Common/Sources/Methane/Tutorials/TextureLabeler.cpp
  Modules/Graphics/App/Include/Methane/Graphics/App.hpp
  Modules/Graphics/Primitives/Include/Methane/Graphics/MeshBuffers.hpp
  Modules/Graphics/Primitives/Sources/Methane/Graphics/MeshBuffersBase.cpp
  Modules/Graphics/Primitives/Sources/Methane/Graphics/ScreenQuad.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/CommandKit.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/Context.cpp
  Modules/Graphics/RHI/Interface/CMakeLists.txt
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ObjectName.hpp
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/Utils.hpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Device.cpp
  Modules/UserInterface/Typography/Sources/Methane/UserInterface/FontImpl.hpp
  Modules/UserInterface/Typography/Sources/Methane/UserInterface/Text.cpp
Due: Graphics RHI, Graphics Primitives, Graphics App, User Interface Typography

Add CMake option to enable memory address sanitizer in build
  Build/README.md
  CMake/MethaneGlobalOptions.cmake
  CMakeLists.txt
Due: none

Fix multi-threaded access to CommandListSet shared pointers
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/CommandQueueTracking.cpp
Due: Graphics RHI

Fix Vulkan buffer size alignment
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IBuffer.h
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/IBuffer.cpp
Due: Graphics RHI

Fix Vulkan build for MacOS and Vulkan dynamic state support
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Device.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderContext.mm
Due: Graphics RHI

Disable some CI Build steps and workflows in Forked repositories on GitHub
  .github/workflows/ci-build.yml
  .github/workflows/ci-codeql-scan.yml
  .github/workflows/ci-sonar-scan.yml
Due: none

Fix CI Build workflow
  .github/workflows/ci-build.yml
Due: none

Remove explicit Buffer size alignment, do it implicitly in DirectX RHI implementation
  Apps/07-ParallelRendering/ParallelRenderingApp.cpp
  Modules/Data/Types/Include/Methane/Data/Math.hpp
  Modules/Graphics/Primitives/Include/Methane/Graphics/MeshBuffers.hpp
  Modules/Graphics/RHI/DirectX/Include/Methane/Graphics/DirectX/Buffer.h
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/Buffer.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IBuffer.h
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/IBuffer.cpp
  Tests/Graphics/RHI/BufferTest.cpp
Due: Data Types, Graphics RHI, Graphics Primitives

Fix clang warning
  Apps/07-ParallelRendering/ParallelRenderingApp.cpp
Due: none

Workaround false-positive Clang warning/error unused-lambda-capture
  Apps/07-ParallelRendering/ParallelRenderingApp.cpp
Due: none

Improve Vulkan frame synchronization reliability
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/RenderContext.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/CommandQueue.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RenderContext.cpp
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/RenderContext.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/CommandListSet.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderContext.cpp
Due: Graphics RHI

Fix code typo and wait for semaphore values on execute
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/CommandListSet.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderContext.cpp
Due: Graphics RHI

Fix CommandListSet::Execute error due to unequal wait semaphores and values count
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/CommandListSet.h
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/CommandQueue.h
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/RenderContext.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/CommandListSet.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/CommandQueue.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderContext.cpp
Due: Graphics RHI

Fix wait for frame synchronization fence upon release of swapchain
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/RenderContext.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderContext.cpp
Due: Graphics RHI

Add new CMake options to log output and to CMake presets
  CMakeLists.txt
  CMakePresets.json
Due: none

Bump Sonar-Scanner install action to v2
  .github/workflows/ci-sonar-scan.yml
Due: none

Fix support of Vulkan on MacOS via MoltenVK by disabling timeline semaphore values in vk::SubmitInfo; fix VSync switch for Vulkan on MacOS
  Build/README.md
  CMake/MethaneGlobalOptions.cmake
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/RenderContext.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/CommandListSet.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderContext.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderContext.mm
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/System.cpp
Due: Graphics RHI

Use structured bindings for vk_submit_info, disable warning about dstStageMask on MacOS
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/CommandListSet.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/System.cpp
Due: Graphics RHI

Update External libraries:
  Apps/07-ParallelRendering/ParallelRenderingApp.cpp
  Externals/CLI11.cmake
  Externals/CMRC.cmake
  Externals/CPM.cmake
  Externals/Catch2.cmake
  Externals/FMT.cmake
  Externals/FTXUI.cmake
  Externals/IttApi.cmake
  Externals/MagicEnum.cmake
  Externals/README.md
  Externals/STB.cmake
  Externals/TaskFlow.cmake
  Modules/Data/RangeSet/Include/Methane/Data/Range.hpp
  Modules/Data/RangeSet/Include/Methane/Data/RangeUtils.hpp
  Modules/Data/Types/Include/Methane/Data/TypeFormatters.hpp
  Modules/Graphics/Primitives/Sources/Methane/Graphics/ImageLoader.cpp
  Modules/Graphics/Primitives/Sources/Methane/Graphics/MeshBuffersBase.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/DescriptorManager.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ParallelRenderCommandList.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/IResource.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/Texture.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/TypeFormatters.hpp
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/IProgramBindings.cpp
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/IRenderPattern.cpp
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/IRenderState.cpp
  Modules/Graphics/Types/Include/Methane/Graphics/TypeFormatters.hpp
  Modules/Platform/App/Sources/Methane/Platform/AppBase.cpp
  Tests/CatchHelpers/Include/Methane/HlslCatchHelpers.hpp
Due: Data Range-Set, Data Types, Platform App, Graphics Types, Graphics RHI, Graphics Primitives

Mute clang warning in Taskflow headers
  Externals/TaskFlow.cmake
Due: none

Add new CI Build for MacOS with Vulkan RHI
  .github/workflows/ci-build.yml
  CMakePresets.json
  README.md
Due: none

Fix build errors
  .github/workflows/ci-build.yml
  Externals/STB.cmake
  Externals/TaskFlow.cmake
  Modules/Graphics/RHI/DirectX/Include/Methane/Graphics/DirectX/Resource.hpp
Due: Graphics RHI

Mute one more MSVC warning in Taskflow headers
  Externals/TaskFlow.cmake
Due: none

Try to fix Vulkan SDK install action by running image mount with 'sudo'
  .github/workflows/ci-build.yml
Due: none

Fix version of the forked action
  .github/workflows/ci-build.yml
Due: none

Configure InstallVulkanSdk action with destination path
  .github/workflows/ci-build.yml
Due: none

Manually unpack Vulkan SDK on MacOS in CI Build
  .github/workflows/ci-build.yml
Due: none

Fix VulkanSDK unpack script
  .github/workflows/ci-build.yml
Due: none

Unpack VulkanSDK to tool-cache dir
  .github/workflows/ci-build.yml
Due: none

Add MacOS_VK_Release test report
  .github/workflows/ci-tests-report.yml
Due: none

Bump Methane Kit version to v0.7.3
  .github/workflows/ci-build.yml
  .github/workflows/ci-codeql-scan.yml
  .github/workflows/ci-sonar-scan.yml
  Build/Unix/Build.sh
  Build/Windows/Build.bat
  CMakeLists.txt
Due: none

Fix DirectX Profiling build crash on startup in case when copy command queue does not support timestamp queries (on integrated AMD Radeon gfx)
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/CommandQueueTracking.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/CommandList.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/CommandQueueTracking.cpp
  Modules/Graphics/RHI/Impl/Include/Methane/Graphics/RHI/CommandQueue.h
  Modules/Graphics/RHI/Impl/Sources/Methane/Graphics/RHI/CommandQueue.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ICommandQueue.h
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/CommandQueue.hh
  Modules/Graphics/RHI/Null/Include/Methane/Graphics/Null/CommandQueue.h
Due: Graphics RHI

Fix Apple build and logger crash
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RenderCommandList.cpp
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/CommandQueue.hh
  Modules/Graphics/RHI/Null/Include/Methane/Graphics/Null/CommandQueue.h
Due: Graphics RHI

Extend RHI Fence test with value checks
  Modules/Graphics/RHI/Null/Include/Methane/Graphics/Null/Fence.h
  Tests/Graphics/RHI/FenceTest.cpp
Due: Graphics RHI

Add Qodana Scan action
  .github/workflows/ci-qodana-scan.yml
Due: none

Add schedule back to CI Build action, remove CI Qodana, as it does not support CMake projects
  .github/workflows/ci-build.yml
  .github/workflows/ci-codeql-scan.yml
  .github/workflows/ci-qodana-scan.yml
  .github/workflows/ci-sonar-scan.yml
Due: none

Fix Linux build and origin repository detection in CI Build
  .github/workflows/ci-build.yml
  .github/workflows/ci-codeql-scan.yml
  .github/workflows/ci-sonar-scan.yml
Due: none

Path conditions:
  Common Primitives: any of: Modules/Common/Primitives/**, but not: Tests, Apps
  Data Animation: (any of: Modules/Data/Animation/**, but not: Tests, Apps) or (any of: Modules/Data/Events/**, Tests/Data/Events/**, but not: Tests, Apps)
  Data Primitives: any of: Modules/Data/Primitives/**, but not: Tests, Apps
  Data Provider: any of: Modules/Data/Provider/**, but not: Tests, Apps
  Data Range-Set: any of: Modules/Data/RangeSet/**, Tests/Data/RangeSet/**, but not: Tests, Apps
  Data Types: any of: Modules/Data/Types/**, Tests/Data/Types/**, but not: Tests, Apps
  Platform Utils: any of: Modules/Platform/Utils/**, but not: Tests, Apps
  Platform Input: any of: Modules/Platform/Input/**, Tests/Platform/Input/**, but not: Tests, Apps
  Platform App-View: any of: Modules/Platform/AppView/**, but not: Tests, Apps
  Platform App: any of: Modules/Platform/App/**, but not: Tests, Apps
  Graphics Types: any of: Modules/Graphics/Types/**, Tests/Graphics/Types/**, but not: Tests, Apps
  Graphics RHI: any of: Modules/Graphics/RHI/**, but not: Tests, Apps
  Graphics Primitives: any of: Modules/Graphics/Primitives/**, but not: Tests, Apps
  Graphics Mesh: any of: Modules/Graphics/Mesh/**, but not: Tests, Apps
  Graphics Camera: any of: Modules/Graphics/Camera/**, Tests/Graphics/Camera/**, but not: Tests, Apps
  Graphics App: any of: Modules/Graphics/App/**, but not: Tests, Apps
  User Interface Types: any of: Modules/UserInterface/Types/**, Tests/UserInterface/Types/**, but not: Tests, Apps
  User Interface Typography: any of: Modules/UserInterface/Typography/**, but not: Tests, Apps
  User Interface Widgets: any of: Modules/UserInterface/Widgets/**, but not: Tests, Apps
  User Interface App: any of: Modules/UserInterface/App/**, but not: Tests, Apps
