Repository MethanePowered/MethaneKit: changes, and which Codecov flags are due for each by the changed paths.
All: Common Primitives, Data Animation, Data Primitives, Data Provider, Data Range-Set, Data Types, Platform Utils, Platform Input, Platform App-View, Platform App, Graphics Types, Graphics RHI, Graphics Primitives, Graphics Mesh, Graphics Camera, Graphics App, User Interface Types, User Interface Typography, User Interface Widgets, User Interface App

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  range: "20..70"
  round: up
  status:
    project:
      default:
        target: auto
        threshold: 5%
    patch:
      default:
        informational: true
        only_pulls: true

ignore:
  - "Tests"
  - "Apps"

component_management:
  individual_components:
    - component_id: common-primitives
      name: Common Primitives
      paths:
        - Modules/Common/Primitives/**
    - component_id: data-animation
      name: Data Animation
      paths:
        - Modules/Data/Animation/**
    - component_id: data-events
      name: Data Animation
      paths:
        - Modules/Data/Events/**
        - Tests/Data/Events/**
    - component_id: data-primitives
      name: Data Primitives
      paths:
        - Modules/Data/Primitives/**
    - component_id: data-provider
      name: Data Provider
      paths:
        - Modules/Data/Provider/**
    - component_id: data-range-set
      name: Data Range-Set
      paths:
        - Modules/Data/RangeSet/**
        - Tests/Data/RangeSet/**
    - component_id: data-types
      name: Data Types
      paths:
        - Modules/Data/Types/**
        - Tests/Data/Types/**
    - component_id: platform-utils
      name: Platform Utils
      paths:
        - Modules/Platform/Utils/**
    - component_id: platform-input
      name: Platform Input
      paths:
        - Modules/Platform/Input/**
        - Tests/Platform/Input/**
    - component_id: platform-app-view
      name: Platform App-View
      paths:
        - Modules/Platform/AppView/**
    - component_id: platform-app
      name: Platform App
      paths:
        - Modules/Platform/App/**
    - component_id: graphics-types
      name: Graphics Types
      paths:
        - Modules/Graphics/Types/**
        - Tests/Graphics/Types/**
    - component_id: graphics-rhi
      name: Graphics RHI
      paths:
        - Modules/Graphics/RHI/**
    - component_id: graphics-primitives
      name: Graphics Primitives
      paths:
        - Modules/Graphics/Primitives/**
    - component_id: graphics-mesh
      name: Graphics Mesh
      paths:
        - Modules/Graphics/Mesh/**
    - component_id: graphics-camera
      name: Graphics Camera
      paths:
        - Modules/Graphics/Camera/**
        - Tests/Graphics/Camera/**
    - component_id: graphics-app
      name: Graphics App
      paths:
        - Modules/Graphics/App/**
    - component_id: user-interface-types
      name: User Interface Types
      paths:
        - Modules/UserInterface/Types/**
        - Tests/UserInterface/Types/**
    - component_id: user-interface-typography
      name: User Interface Typography
      paths:
        - Modules/UserInterface/Typography/**
    - component_id: user-interface-widgets
      name: User Interface Widgets
      paths:
        - Modules/UserInterface/Widgets/**
    - component_id: user-interface-app
      name: User Interface App
      paths:
        - Modules/UserInterface/App/**

Temporary switch Sonar-Scan action back to macos-13 hosted runner to use Intel h/w, instead of M1/ARM
  .github/workflows/ci-sonar-scan.yml
Due: none

Update FMT to v10.2.1
  Externals/FMT.cmake
Due: none

Move ProgramArgument and Accessor to the separate header/source files
  Apps/07-ParallelRendering/ParallelRenderingApp.cpp
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/Program.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/ProgramBindings.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramBindings.cpp
  Modules/Graphics/RHI/DirectX/Include/Methane/Graphics/DirectX/ProgramBindings.h
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/ProgramBindings.cpp
  Modules/Graphics/RHI/Interface/CMakeLists.txt
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IProgram.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IProgramBindings.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ProgramArgument.h
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/IProgram.cpp
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/IProgramBindings.cpp
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/ProgramArgument.cpp
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/ProgramBindings.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramBindings.mm
  Modules/Graphics/RHI/Null/Include/Methane/Graphics/Null/ProgramBindings.h
  Modules/Graphics/RHI/Null/Sources/Methane/Graphics/Null/ProgramBindings.cpp
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/ProgramBindings.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ProgramBindings.cpp
Due: Graphics RHI

Fix include paths format in HLSL files
  Apps/03-TexturedCube/Shaders/TexturedCube.hlsl
  Apps/04-ShadowCube/Shaders/ShadowCube.hlsl
  Apps/06-CubeMapArray/Shaders/CubeMapArray.hlsl
  Apps/07-ParallelRendering/Shaders/ParallelRendering.hlsl
Due: none

Add game rule selection with constant buffer in Console Compute tutorial
  Apps/08-ConsoleCompute/CMakeLists.txt
  Apps/08-ConsoleCompute/ConsoleApp.cpp
  Apps/08-ConsoleCompute/ConsoleApp.h
  Apps/08-ConsoleCompute/ConsoleComputeApp.cpp
  Apps/08-ConsoleCompute/ConsoleComputeApp.h
  Apps/08-ConsoleCompute/README.md
  Apps/08-ConsoleCompute/Shaders/GameOfLife.hlsl
  Apps/08-ConsoleCompute/Shaders/GameOfLifeRules.h
Due: none

Add RootConstantBuffer class for storing root constants on the GPU
  Modules/Graphics/RHI/Base/CMakeLists.txt
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/Program.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/ProgramBindings.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/RootConstantBuffer.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/Program.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramBindings.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RootConstantBuffer.cpp
  Modules/Graphics/RHI/DirectX/Include/Methane/Graphics/DirectX/DescriptorHeap.h
  Modules/Graphics/RHI/DirectX/Include/Methane/Graphics/DirectX/DescriptorManager.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IProgramBindings.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ProgramArgument.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/RootConstant.h
Due: Graphics RHI

Fix bug and GCC error
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RootConstantBuffer.cpp
Due: Graphics RHI

Update CMakeModules to the latest commit with new Windows SDK version 10.0.22621 added for FindWindowsSDK.cmake
  Externals/CMakeModules.cmake
Due: none

Allow manual dispatch of CI Build, CodeQL and Sonar Scan workflows in GitHub Actions
  .github/workflows/ci-build.yml
  .github/workflows/ci-codeql-scan.yml
  .github/workflows/ci-sonar-scan.yml
Due: none

Update CMakeModules with fix for ARM64 architecture detection from VS2022 and Ninja in FindWindowsSDK.cmake
  Externals/CMakeModules.cmake
Due: none

Update CPM.cmake to v0.40.2
  Externals/CPM.cmake
  Externals/README.md
Due: none

Update codecov-action to v4 in "CI Sonar Scan" workflow
  .github/workflows/ci-sonar-scan.yml
Due: none

Add missing header include for Linux build and disable useless GCC warning in TracyClient
  Externals/Tracy.cmake
  Modules/Platform/AppView/Include/Methane/Platform/AppView.h
Due: Platform App-View

Update Catch2 to v3.6.0
  Externals/Catch2.cmake
Due: none

Add root constant bindings support in DirectX back-end
  Apps/02-HelloCube/CMakeLists.txt
  Apps/02-HelloCube/HelloCubeApp.cpp
  Apps/02-HelloCube/README.md
  Apps/02-HelloCube/Shaders/HelloCube.hlsl
  Modules/Data/Types/Include/Methane/Data/Chunk.hpp
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/Program.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/ProgramArgumentBinding.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/ProgramBindings.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/RootConstantBuffer.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/Program.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramBindings.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RootConstantBuffer.cpp
  Modules/Graphics/RHI/DirectX/Include/Methane/Graphics/DirectX/ProgramArgumentBinding.h
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/Program.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/ProgramBindings.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/Shader.cpp
  Modules/Graphics/RHI/Impl/Include/Methane/Graphics/RHI/Program.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IProgramBindings.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/RootConstant.h
Due: Data Types, Graphics RHI

Update CLion code style
  .idea/codeStyles/Project.xml
Due: none

Fix build errors
  Modules/Data/Types/Include/Methane/Data/Chunk.hpp
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/RootConstantBuffer.h
Due: Data Types, Graphics RHI

Fix Linux GCC build errors
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramArgumentBinding.cpp
Due: Graphics RHI

Fix debug build errors and workaround Linux GCC 13 compiler bug
  CMake/MethaneBuildOptions.cmake
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/ProgramArgumentBinding.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramArgumentBinding.cpp
  Tests/Data/Types/RawVectorTest.cpp
Due: Graphics RHI

Fix non-Linux build
  Tests/Data/Types/RawVectorTest.cpp
Due: none

Fix MacOS build
  Tests/Data/Types/RawVectorTest.cpp
Due: none

Add RootConstant support to Vulkan ProgramBindings via DescriptorSets (push constants not supported yet)
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramBindings.cpp
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/ProgramArgumentBinding.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Shader.cpp
Due: Graphics RHI

Add RootConstant support to Metal ProgramBindings via argument indexes (argument buffer support is not ready yet)
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramBindings.cpp
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/ProgramArgumentBinding.hh
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/ProgramBindings.hh
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/Shader.hh
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/Types.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramArgumentBinding.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramBindings.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Shader.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Types.mm
Due: Graphics RHI

Fix writing resource ids to argument buffers on argument binding or root constant changes
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramBindings.mm
Due: Graphics RHI

Add support of prioritizing receivers in emitter list
  Modules/Data/Events/Include/Methane/Data/Emitter.hpp
  Modules/Data/Events/Include/Methane/Data/IEmitter.h
  Modules/Data/Events/Include/Methane/Data/Transmitter.hpp
  Tests/Data/Events/EventWrappers.hpp
  Tests/Data/Events/EventsTest.cpp
Due: Data Animation

Fix EventsTest build
  Tests/Data/Events/EventWrappers.hpp
  Tests/Data/Events/EventsTest.cpp
Due: none

Fix Windows build
  Tests/Data/Events/EventWrappers.hpp
  Tests/Data/Events/EventsTest.cpp
Due: none

Change events connection priority type from unsigned to signed integer
  Modules/Data/Events/Include/Methane/Data/Emitter.hpp
  Modules/Data/Events/Include/Methane/Data/IEmitter.h
  Modules/Data/Events/Include/Methane/Data/Transmitter.hpp
  Tests/Data/Events/EventWrappers.hpp
  Tests/Data/Events/EventsTest.cpp
Due: Data Animation

Enable RootConstant setup from ProgramBindings constructor, use root constants instead of uniform buffers in Textured Cube tutorial.
  Apps/02-HelloCube/HelloCubeApp.cpp
  Apps/03-TexturedCube/Shaders/TexturedCubeUniforms.h
  Apps/03-TexturedCube/TexturedCubeApp.cpp
  Apps/03-TexturedCube/TexturedCubeApp.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/ProgramArgumentBinding.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/RootConstantBuffer.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramBindings.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RootConstantBuffer.cpp
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/Context.hpp
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/DescriptorManager.hh
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/ProgramArgumentBinding.hh
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/ProgramBindings.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/DescriptorManager.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramArgumentBinding.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramBindings.mm
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/DescriptorManager.h
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/ProgramArgumentBinding.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Shader.cpp
Due: Graphics RHI

Fix Linux GCC build error
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramArgumentBinding.cpp
Due: Graphics RHI

Fix Frame-Constant bindings
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramBindings.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RootConstantBuffer.cpp
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/ProgramArgumentBinding.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ProgramArgumentBinding.cpp
Due: Graphics RHI

Fix root-constant setup
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RootConstantBuffer.cpp
Due: Graphics RHI

Fix Vulkan-validation issues revealed by Vulkan SDK 1.3.290.0
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/CommandList.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/CommandList.cpp
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/CommandList.hpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Device.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/System.cpp
Due: Graphics RHI

Fix RootConstant setup in ProgramBindings constructor for Vulkan (note change in comparator of Rhi::ResourceView)
  Apps/03-TexturedCube/TexturedCubeApp.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RootConstantBuffer.cpp
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/ResourceView.cpp
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/ProgramBindings.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ProgramBindings.cpp
Due: Graphics RHI

Fix Linux build
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/CommandList.h
Due: Graphics RHI

Put remaining targets under folders in Visual Studio
  Externals/CLI11.cmake
  Externals/Catch2.cmake
  Externals/DirectXHeaders.cmake
  Externals/TaskFlow.cmake
  Modules/Graphics/RHI/Impl/CMakeLists.txt
Due: Graphics RHI

Fix RootConstant setup in ProgramBindings constructor for DirectX
  Modules/Graphics/RHI/DirectX/Include/Methane/Graphics/DirectX/ProgramArgumentBinding.h
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/ProgramArgumentBinding.cpp
Due: Graphics RHI

Fix program bindings copy with root constant argument values
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/ProgramBindings.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramBindings.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ProgramBindings.cpp
Due: Graphics RHI

Use root-constant values instead of buffers for program argument bindings of the Shadow Cube tutorial
  Apps/04-ShadowCube/Shaders/ShadowCubeUniforms.h
  Apps/04-ShadowCube/ShadowCubeApp.cpp
  Apps/04-ShadowCube/ShadowCubeApp.h
Due: none
