Repository MethanePowered/MethaneKit: changes, and which Codecov flags are due for each by the changed paths.
All: Common Primitives, Data Animation, Data Primitives, Data Provider, Data Range-Set, Data Types, Platform Utils, Platform Input, Platform App-View, Platform App, Graphics Types, Graphics RHI, Graphics Primitives, Graphics Mesh, Graphics Camera, Graphics App, User Interface Types, User Interface Typography, User Interface Widgets, User Interface App

Add unit-tests for ProgramBindings
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IProgram.h
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/IProgram.cpp
  Modules/Graphics/RHI/Null/Include/Methane/Graphics/Null/Program.h
  Modules/Graphics/RHI/Null/Include/Methane/Graphics/Null/Shader.h
  Modules/Graphics/RHI/Null/Sources/Methane/Graphics/Null/Program.cpp
  Modules/Graphics/RHI/Null/Sources/Methane/Graphics/Null/Shader.cpp
  Tests/Graphics/RHI/CMakeLists.txt
  Tests/Graphics/RHI/ProgramBindingsTest.cpp
Due: Graphics RHI

Extend unit-tests of ProgramBindings
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ResourceView.h
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/ResourceView.cpp
  Tests/Graphics/RHI/ProgramBindingsTest.cpp
Due: Graphics RHI

Add initial unit-tests for Command Queue
  Modules/Graphics/RHI/Impl/Include/Methane/Graphics/RHI/CommandQueue.h
  Modules/Graphics/RHI/Impl/Sources/Methane/Graphics/RHI/CommandQueue.cpp
  Tests/Graphics/RHI/CMakeLists.txt
  Tests/Graphics/RHI/CommandQueueTest.cpp
  Tests/Graphics/RHI/ProgramBindingsTest.cpp
Due: Graphics RHI

Add unit-test of CommandQueue::Execute
  Modules/Graphics/RHI/Null/Include/Methane/Graphics/Null/CommandListSet.h
  Tests/Graphics/RHI/CommandQueueTest.cpp
Due: Graphics RHI

Add unit-test of Fence, fix other tests
  Modules/Graphics/RHI/Impl/Include/Methane/Graphics/RHI/Fence.h
  Modules/Graphics/RHI/Impl/Sources/Methane/Graphics/RHI/Fence.cpp
  Tests/Graphics/RHI/CMakeLists.txt
  Tests/Graphics/RHI/CommandQueueTest.cpp
  Tests/Graphics/RHI/ComputeStateTest.cpp
  Tests/Graphics/RHI/FenceTest.cpp
  Tests/Graphics/RHI/ProgramBindingsTest.cpp
  Tests/Graphics/RHI/ProgramTest.cpp
Due: Graphics RHI

Upgrade HLSL++ to v3.3.1
  Externals/HLSLpp.cmake
  Externals/README.md
Due: none

Add unit tests for RHI Transfer Command List
  Tests/Graphics/RHI/CMakeLists.txt
  Tests/Graphics/RHI/CommandQueueTest.cpp
  Tests/Graphics/RHI/RhiTestHelpers.hpp
  Tests/Graphics/RHI/TransferCommandListTest.cpp
Due: none

Add unit tests for RHI Compute Command List
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/ComputeCommandList.h
  Modules/Graphics/RHI/Impl/Include/Methane/Graphics/RHI/ComputeCommandList.h
  Modules/Graphics/RHI/Impl/Sources/Methane/Graphics/RHI/ComputeCommandList.cpp
  Tests/Graphics/RHI/CMakeLists.txt
  Tests/Graphics/RHI/ComputeCommandListTest.cpp
Due: Graphics RHI

Add Set Program Bindings test for RHI Compute Command List
  Tests/Graphics/RHI/ComputeCommandListTest.cpp
Due: none

Add some unit tests for RHI Buffer
  Modules/Graphics/RHI/Impl/Include/Methane/Graphics/RHI/Buffer.h
  Modules/Graphics/RHI/Impl/Include/Methane/Graphics/RHI/Texture.h
  Modules/Graphics/RHI/Impl/Sources/Methane/Graphics/RHI/Buffer.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IBuffer.h
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/IBuffer.cpp
  Modules/Graphics/RHI/Null/Include/Methane/Graphics/Null/Resource.hpp
  Tests/Graphics/RHI/BufferTest.cpp
  Tests/Graphics/RHI/CMakeLists.txt
  Tests/Graphics/RHI/RhiTestHelpers.hpp
Due: Graphics RHI

Fix build error
  Modules/Graphics/RHI/Impl/Include/Methane/Graphics/RHI/Buffer.h
  Modules/Graphics/RHI/Impl/Sources/Methane/Graphics/RHI/Buffer.cpp
Due: Graphics RHI

Use faster XL MacOS runners for Release, Profile and Scan builds for MacOS
  .github/workflows/ci-build.yml
  .github/workflows/ci-sonar-scan.yml
Due: none

Revert "Use faster XL MacOS runners for Release, Profile and Scan builds for MacOS"
  .github/workflows/ci-build.yml
  .github/workflows/ci-sonar-scan.yml
Due: none

Move GetSubresourceCount/DataSize methods from IResource to ITexture inteface
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/Buffer.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/Sampler.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/Buffer.cpp
  Modules/Graphics/RHI/Impl/Include/Methane/Graphics/RHI/Buffer.h
  Modules/Graphics/RHI/Impl/Sources/Methane/Graphics/RHI/Buffer.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IResource.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ITexture.h
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/ResourceView.cpp
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/Resource.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Buffer.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Texture.mm
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Buffer.cpp
Due: Graphics RHI

Fix GCC and MSVC build errors
  Tests/Graphics/RHI/BufferTest.cpp
Due: none

Fix GCC and MSVC build errors
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/ResourceView.cpp
Due: Graphics RHI

Add more unit-tests for RHI Buffer
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/Buffer.cpp
  Modules/Graphics/RHI/Impl/Include/Methane/Graphics/RHI/Buffer.h
  Modules/Graphics/RHI/Impl/Sources/Methane/Graphics/RHI/Buffer.cpp
  Tests/Graphics/RHI/BufferTest.cpp
Due: Graphics RHI

Add unit-tests for RHI Sampler
  Modules/Graphics/RHI/Impl/Include/Methane/Graphics/RHI/Sampler.h
  Modules/Graphics/RHI/Impl/Sources/Methane/Graphics/RHI/Sampler.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ISampler.h
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/ISampler.cpp
  Tests/Graphics/RHI/CMakeLists.txt
  Tests/Graphics/RHI/SamplerTest.cpp
Due: Graphics RHI

Fix compilation error in Release builds
  Modules/Graphics/RHI/Impl/Sources/Methane/Graphics/RHI/Sampler.cpp
Due: Graphics RHI

Add unit-tests for RHI Texture
  Apps/08-ConsoleCompute/ConsoleCompute.cpp
  Modules/Graphics/RHI/Impl/Include/Methane/Graphics/RHI/Texture.h
  Modules/Graphics/RHI/Impl/Sources/Methane/Graphics/RHI/Texture.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ITexture.h
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/ITexture.cpp
  Modules/UserInterface/Typography/Sources/Methane/UserInterface/Text.cpp
  Tests/Graphics/RHI/CMakeLists.txt
  Tests/Graphics/RHI/TextureTest.cpp
Due: Graphics RHI, User Interface Typography

Fix wrong comment encoding
  Modules/UserInterface/Widgets/Sources/Methane/UserInterface/HeadsUpDisplay.cpp
Due: User Interface Widgets

Refactor Console Compute app using classes
  Apps/08-ConsoleCompute/CMakeLists.txt
  Apps/08-ConsoleCompute/ConsoleApp.cpp
  Apps/08-ConsoleCompute/ConsoleApp.h
  Apps/08-ConsoleCompute/ConsoleCompute.cpp
  Apps/08-ConsoleCompute/ConsoleComputeApp.cpp
  Apps/08-ConsoleCompute/ConsoleComputeApp.h
Due: none

Cleanup code of Console Compute tutorial
  Apps/08-ConsoleCompute/ConsoleApp.cpp
  Apps/08-ConsoleCompute/ConsoleApp.h
  Apps/08-ConsoleCompute/ConsoleComputeApp.cpp
  Apps/08-ConsoleCompute/ConsoleComputeApp.h
Due: none

Fix present coordinates bug in Console Compute tutorial
  Apps/08-ConsoleCompute/ConsoleApp.cpp
  Apps/08-ConsoleCompute/ConsoleApp.h
  Apps/08-ConsoleCompute/ConsoleComputeApp.cpp
Due: none

Normalize screenshot sizes of Console Compute tutorial
  Apps/08-ConsoleCompute/Screenshots/ConsoleComputeLinVulkan.jpg
  Apps/08-ConsoleCompute/Screenshots/ConsoleComputeMacMetal.jpg
Due: none

Fix code analysis issues
  Apps/08-ConsoleCompute/ConsoleApp.cpp
  Apps/08-ConsoleCompute/ConsoleApp.h
  Apps/08-ConsoleCompute/ConsoleComputeApp.cpp
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/ComputeContext.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/CommandKit.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ComputeContext.cpp
  Modules/Graphics/RHI/DirectX/Include/Methane/Graphics/DirectX/CommandQueue.h
  Modules/Graphics/RHI/DirectX/Include/Methane/Graphics/DirectX/ComputeCommandList.h
  Modules/Graphics/RHI/DirectX/Include/Methane/Graphics/DirectX/ComputeContext.h
  Modules/Graphics/RHI/DirectX/Include/Methane/Graphics/DirectX/ComputeState.h
  Modules/Graphics/RHI/DirectX/Include/Methane/Graphics/DirectX/Resource.hpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/ComputeState.cpp
  Modules/Graphics/RHI/Impl/Include/Methane/Graphics/RHI/ComputeContext.h
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/ResourceView.cpp
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/ComputeCommandList.hh
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/ComputeContext.hh
  Modules/Graphics/RHI/Null/Include/Methane/Graphics/Null/ComputeCommandList.h
  Modules/Graphics/RHI/Null/Include/Methane/Graphics/Null/ComputeContext.h
  Modules/Graphics/RHI/Null/Include/Methane/Graphics/Null/Program.h
  Modules/Graphics/RHI/Null/Include/Methane/Graphics/Null/Resource.hpp
  Modules/Graphics/RHI/Null/Sources/Methane/Graphics/Null/Program.cpp
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/ComputeCommandList.h
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/ComputeContext.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ProgramBindings.cpp
  Tests/Graphics/RHI/ComputeCommandListTest.cpp
  Tests/Graphics/RHI/ProgramBindingsTest.cpp
Due: Graphics RHI

Fix build errors and some code analysis issues
  Apps/08-ConsoleCompute/ConsoleApp.cpp
  Modules/Graphics/RHI/Null/Include/Methane/Graphics/Null/Resource.hpp
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/Buffer.h
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/RenderContext.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Buffer.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Device.cpp
Due: Graphics RHI

Add documentation for ConsoleCompute tutorial
  Apps/07-ParallelRendering/README.md
  Apps/08-ConsoleCompute/README.md
Due: none

Update read-me of ConsoleCompute tutorial
  Apps/08-ConsoleCompute/README.md
Due: none

Fix remaining code analysis issues
  Modules/Graphics/RHI/DirectX/Include/Methane/Graphics/DirectX/ProgramBindings.h
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/ComputeState.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/ProgramBindings.cpp
Due: Graphics RHI

Fix All shader type issue in bindings for single shader programs
  Apps/04-ShadowCube/README.md
  Apps/04-ShadowCube/ShadowCubeApp.cpp
  Apps/08-ConsoleCompute/ConsoleComputeApp.cpp
  Apps/08-ConsoleCompute/README.md
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/Program.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IProgramBindings.h
Due: Graphics RHI

Fix Graphics RHI unit tests
  Tests/Graphics/RHI/ComputeCommandListTest.cpp
  Tests/Graphics/RHI/ProgramBindingsTest.cpp
Due: none

Continue on error for unit tests
  .github/workflows/ci-build.yml
  .github/workflows/ci-sonar-scan.yml
Due: none

Fail unit test steps on test failure, but continue further steps execution
  .github/workflows/ci-build.yml
  .github/workflows/ci-sonar-scan.yml
Due: none

Fix tests running after failure on Linux and Mac
  .github/workflows/ci-sonar-scan.yml
Due: none

Fix tests running after failure on Linux and Mac (2-nd attempt)
  .github/workflows/ci-build.yml
  .github/workflows/ci-sonar-scan.yml
Due: none

Fix tests running after failure on Linux and Mac (3-rd attempt)
  .github/workflows/ci-build.yml
  .github/workflows/ci-sonar-scan.yml
Due: none

Fix tests running after failure on Linux and Mac (4-th attempt)
  .github/workflows/ci-build.yml
  .github/workflows/ci-sonar-scan.yml
Due: none

Fix tests running after failure on Linux and Mac (5-th attempt)
  .github/workflows/ci-build.yml
  .github/workflows/ci-sonar-scan.yml
Due: none

Fix adding test result comments and collect GCov coverage on test failures
  .github/workflows/ci-tests-report.yml
  Tests/Coverage/GCov/CMakeLists.txt
Due: none

Path conditions:
  Common Primitives: any of: Modules/Common/Primitives/**, but not: Tests, Apps
  Data Animation: (any of: Modules/Data/Animation/**, but not: Tests, Apps) or (any of: Modules/Data/Events/**, Tests/Data/Events/**, but not: Tests, Apps)
  Data Primitives: any of: Modules/Data/Primitives/**, but not: Tests, Apps
  Data Provider: any of: Modules/Data/Provider/**, but not: Tests, Apps
  Data Range-Set: any of: Modules/Data/RangeSet/**, Tests/Data/RangeSet/**, but not: Tests, Apps
  Data Types: any of: Modules/Data/Types/**, Tests/Data/Types/**, but not: Tests, Apps
  Platform Utils: any of: Modules/Platform/Utils/**, but not: Tests, Apps
  Platform Input: any of: Modules/Platform/Input/**, Tests/Platform/Input/**, but not: Tests, Apps
  Platform App-View: any of: Modules/Platform/AppView/**, but not: Tests, Apps
  Platform App: any of: Modules/Platform/App/**, but not: Tests, Apps
  Graphics Types: any of: Modules/Graphics/Types/**, Tests/Graphics/Types/**, but not: Tests, Apps
  Graphics RHI: any of: Modules/Graphics/RHI/**, but not: Tests, Apps
  Graphics Primitives: any of: Modules/Graphics/Primitives/**, but not: Tests, Apps
  Graphics Mesh: any of: Modules/Graphics/Mesh/**, but not: Tests, Apps
  Graphics Camera: any of: Modules/Graphics/Camera/**, Tests/Graphics/Camera/**, but not: Tests, Apps
  Graphics App: any of: Modules/Graphics/App/**, but not: Tests, Apps
  User Interface Types: any of: Modules/UserInterface/Types/**, Tests/UserInterface/Types/**, but not: Tests, Apps
  User Interface Typography: any of: Modules/UserInterface/Typography/**, but not: Tests, Apps
  User Interface Widgets: any of: Modules/UserInterface/Widgets/**, but not: Tests, Apps
  User Interface App: any of: Modules/UserInterface/App/**, but not: Tests, Apps
