Repository MethanePowered/MethaneKit: changes, and which Codecov flags are due for each by the changed paths.
All: Common Primitives, Data Animation, Data Primitives, Data Provider, Data Range-Set, Data Types, Platform Utils, Platform Input, Platform App-View, Platform App, Graphics Types, Graphics RHI, Graphics Primitives, Graphics Mesh, Graphics Camera, Graphics App, User Interface Types, User Interface Typography, User Interface Widgets, User Interface App

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  range: "20..70"
  round: up
  status:
    project:
      default:
        target: auto
        threshold: 5%
    patch:
      default:
        informational: true
        only_pulls: true

ignore:
  - "Tests"
  - "Apps"

component_management:
  individual_components:
    - component_id: common-primitives
      name: Common Primitives
      paths:
        - Modules/Common/Primitives/**
    - component_id: data-animation
      name: Data Animation
      paths:
        - Modules/Data/Animation/**
    - component_id: data-events
      name: Data Animation
      paths:
        - Modules/Data/Events/**
        - Tests/Data/Events/**
    - component_id: data-primitives
      name: Data Primitives
      paths:
        - Modules/Data/Primitives/**
    - component_id: data-provider
      name: Data Provider
      paths:
        - Modules/Data/Provider/**
    - component_id: data-range-set
      name: Data Range-Set
      paths:
        - Modules/Data/RangeSet/**
        - Tests/Data/RangeSet/**
    - component_id: data-types
      name: Data Types
      paths:
        - Modules/Data/Types/**
        - Tests/Data/Types/**
    - component_id: platform-utils
      name: Platform Utils
      paths:
        - Modules/Platform/Utils/**
    - component_id: platform-input
      name: Platform Input
      paths:
        - Modules/Platform/Input/**
        - Tests/Platform/Input/**
    - component_id: platform-app-view
      name: Platform App-View
      paths:
        - Modules/Platform/AppView/**
    - component_id: platform-app
      name: Platform App
      paths:
        - Modules/Platform/App/**
    - component_id: graphics-types
      name: Graphics Types
      paths:
        - Modules/Graphics/Types/**
        - Tests/Graphics/Types/**
    - component_id: graphics-rhi
      name: Graphics RHI
      paths:
        - Modules/Graphics/RHI/**
    - component_id: graphics-primitives
      name: Graphics Primitives
      paths:
        - Modules/Graphics/Primitives/**
    - component_id: graphics-mesh
      name: Graphics Mesh
      paths:
        - Modules/Graphics/Mesh/**
    - component_id: graphics-camera
      name: Graphics Camera
      paths:
        - Modules/Graphics/Camera/**
        - Tests/Graphics/Camera/**
    - component_id: graphics-app
      name: Graphics App
      paths:
        - Modules/Graphics/App/**
    - component_id: user-interface-types
      name: User Interface Types
      paths:
        - Modules/UserInterface/Types/**
        - Tests/UserInterface/Types/**
    - component_id: user-interface-typography
      name: User Interface Typography
      paths:
        - Modules/UserInterface/Typography/**
    - component_id: user-interface-widgets
      name: User Interface Widgets
      paths:
        - Modules/UserInterface/Widgets/**
    - component_id: user-interface-app
      name: User Interface App
      paths:
        - Modules/UserInterface/App/**

Add paddings to Uniforms of ParallelRendering app
  Apps/07-ParallelRendering/Shaders/ParallelRenderingUniforms.h
Due: none

Add ParallelRendering app variant name in title
  Apps/07-ParallelRendering/CMakeLists.txt
  Apps/07-ParallelRendering/ParallelRenderingApp.cpp
Due: none

Use root-constant in ScreenQuad
  Modules/Graphics/Primitives/Sources/Methane/Graphics/ScreenQuad.cpp
Due: Graphics Primitives

Add new run configurations for CLion
  .idea/runConfigurations/01_HelloTriangle.xml
  .idea/runConfigurations/02_HelloCubeSimple.xml
  .idea/runConfigurations/02_HelloCubeUniforms.xml
  .idea/runConfigurations/03_TexturedCube.xml
  .idea/runConfigurations/04_ShadowCube.xml
  .idea/runConfigurations/05_Typography.xml
  .idea/runConfigurations/06_CubeMapArray.xml
  .idea/runConfigurations/07_ParallelRendering.xml
  .idea/runConfigurations/07_ParallelRenderingBufferViews.xml
  .idea/runConfigurations/07_ParallelRenderingRootConstants.xml
  .idea/runConfigurations/Data_Events_Test.xml
  .idea/runConfigurations/Data_RangeSet_Tests.xml
  .idea/runConfigurations/Data_Types_Test.xml
  .idea/runConfigurations/Graphics_Camera_Tests.xml
  .idea/runConfigurations/Graphics_Types_Test.xml
  .idea/runConfigurations/Platform_Input_Tests.xml
  .idea/runConfigurations/User_Interface_Types_Test.xml
Due: none

Fix parallel resource views initialization in Vulkan
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/Resource.hpp
Due: Graphics RHI

Remove constant check for root-constant arguments, since resource view does not change for such bindings
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramArgumentBinding.cpp
Due: Graphics RHI

Use root-constant instead of uniform buffer in ConsoleCompute tutorial
  Apps/08-ConsoleCompute/ConsoleComputeApp.cpp
  Apps/08-ConsoleCompute/ConsoleComputeApp.h
  Apps/08-ConsoleCompute/Shaders/GameOfLifeRules.h
Due: none

Use META_PROGRAM_ARG macros extensively
  Apps/04-ShadowCube/ShadowCubeApp.cpp
  Apps/06-CubeMapArray/CubeMapArrayApp.cpp
  Apps/07-ParallelRendering/ParallelRenderingApp.cpp
  Apps/08-ConsoleCompute/ConsoleComputeApp.cpp
  Modules/Graphics/Primitives/Sources/Methane/Graphics/ScreenQuad.cpp
  Modules/Graphics/Primitives/Sources/Methane/Graphics/SkyBox.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ProgramArgument.h
Due: Graphics RHI, Graphics Primitives

Rename program argument value types and add RootConstValue type
  Apps/02-HelloCube/HelloCubeApp.cpp
  Apps/03-TexturedCube/TexturedCubeApp.cpp
  Apps/04-ShadowCube/ShadowCubeApp.cpp
  Apps/06-CubeMapArray/CubeMapArrayApp.cpp
  Apps/07-ParallelRendering/ParallelRenderingApp.cpp
  Apps/08-ConsoleCompute/ConsoleComputeApp.cpp
  Modules/Graphics/Primitives/Sources/Methane/Graphics/ScreenQuad.cpp
  Modules/Graphics/Primitives/Sources/Methane/Graphics/SkyBox.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramBindings.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/Program.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/Shader.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ProgramArgument.h
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/IProgram.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ProgramBindings.cpp
  Modules/UserInterface/Typography/Sources/Methane/UserInterface/Text.cpp
  Tests/Graphics/RHI/ProgramBindingsTest.cpp
Due: Graphics RHI, Graphics Primitives, User Interface Typography

Fix unit-test failure
  Tests/Graphics/RHI/ProgramBindingsTest.cpp
Due: none

Rename program argument value types
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/Shader.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ProgramArgument.h
  Tests/Graphics/RHI/ProgramBindingsTest.cpp
Due: Graphics RHI

Add support of Root32BitConstants in DirectX ProgramBindings via ProgramArgumentValueType::RootConstantValue
  Apps/08-ConsoleCompute/ConsoleComputeApp.cpp
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/Program.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/RootConstantBuffer.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramBindings.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RootConstantBuffer.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/Program.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/ProgramBindings.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/Shader.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ProgramArgument.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/RootConstant.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ProgramBindings.cpp
Due: Graphics RHI

Add test of root constant value in ProgramBindings
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/RootConstant.h
  Tests/Graphics/RHI/ProgramBindingsTest.cpp
Due: Graphics RHI

Fix program bindings counter
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/Program.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/ProgramBindings.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/RootConstantBuffer.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramBindings.cpp
  Tests/Graphics/RHI/ProgramBindingsTest.cpp
Due: Graphics RHI

Add support of PushConstants in Vulkan ProgramBindings via ProgramArgumentValueType::RootConstantValue
  Apps/08-ConsoleCompute/Shaders/GameOfLife.hlsl
  Apps/08-ConsoleCompute/Shaders/GameOfLifeRules.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/ProgramArgumentBinding.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/RootConstantBuffer.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RootConstantBuffer.cpp
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/Program.h
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/ProgramArgumentBinding.h
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/ProgramBindings.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Program.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ProgramBindings.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Shader.cpp
Due: Graphics RHI

Fix build: add missing header include
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ProgramArgumentBinding.cpp
Due: Graphics RHI

Fix size of Constants to match in HLSL/C++ for DX/VK
  Apps/08-ConsoleCompute/Shaders/GameOfLifeRules.h
Due: none

Add support of RootConstantValue argument bindings in Metal ProgramBindings with SetBytes method, when Argument Buffer is disabled
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramBindings.mm
Due: Graphics RHI

Add support of RootConstantValue argument bindings in Metal ProgramBindings with SetBytes method, when Argument Buffer is enabled
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/ProgramBindings.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramBindings.mm
Due: Graphics RHI

Extend coverage of ProgramBindings unit-test
  Modules/Graphics/RHI/Null/Include/Methane/Graphics/Null/ProgramBindings.h
  Modules/Graphics/RHI/Null/Sources/Methane/Graphics/Null/Program.cpp
  Modules/Graphics/RHI/Null/Sources/Methane/Graphics/Null/ProgramBindings.cpp
  Tests/Graphics/RHI/ProgramBindingsTest.cpp
Due: Graphics RHI

Fix CodeCov coverage results upload
  .github/workflows/ci-sonar-scan.yml
Due: none

Publish test results to CodeCov server
  .github/workflows/ci-sonar-scan.yml
Due: none

Fix CodeCov test results file pattern
  .github/workflows/ci-sonar-scan.yml
Due: none

Update version of action-download-artifact to v7
  .github/workflows/ci-tests-report.yml
Due: none

Update HelloCube tutorial documentation
  Apps/02-HelloCube/README.md
Due: none

Update TexturedCube tutorial documentation
  Apps/02-HelloCube/README.md
  Apps/03-TexturedCube/README.md
  Apps/03-TexturedCube/TexturedCubeApp.cpp
Due: none

Update ShadowCube tutorial documentation
  Apps/04-ShadowCube/README.md
  Apps/04-ShadowCube/ShadowCubeApp.cpp
  Modules/Graphics/Primitives/Include/Methane/Graphics/SkyBox.h
Due: Graphics Primitives

Write brief documentation for CubeMapArray tutorial
  Apps/06-CubeMapArray/CubeMapArrayApp.cpp
  Apps/06-CubeMapArray/README.md
  Apps/06-CubeMapArray/Shaders/CubeMapArray.hlsl
Due: none

Write brief documentation for ParallelRendering tutorial
  Apps/07-ParallelRendering/ParallelRenderingApp.cpp
  Apps/07-ParallelRendering/README.md
  Apps/07-ParallelRendering/Shaders/ParallelRendering.hlsl
Due: none

Add descriptions to ParallelRendering tutorial documentation
  Apps/07-ParallelRendering/README.md
Due: none

Update FreeType2 external repo to v2.13.3
  Externals/FreeType2.cmake
Due: none

Update FMT external repo to v11.0.2
  Externals/FMT.cmake
  Modules/Common/Primitives/Include/Methane/Exceptions.hpp
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/IRenderPattern.cpp
Due: Common Primitives, Graphics RHI

Fix build after FMT update
  Modules/Graphics/Mesh/Include/Methane/Graphics/Mesh.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RenderPattern.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/IResource.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/Texture.cpp
  Modules/Graphics/RHI/Impl/Sources/Methane/Graphics/RHI/Program.cpp
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/IRenderState.cpp
Due: Graphics RHI, Graphics Mesh

Update CLI11 external repo to latest mainline
  Externals/CLI11.cmake
Due: none

Update Tracy external repo to v0.12.0.1 (latest master, i.e. pre-release)
  Externals/Tracy.cmake
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramBindings.mm
Due: Graphics RHI

Update IttApi external repo to v3.25.3
  Externals/IttApi.cmake
Due: none

Update library versions in Externals/README.md
  Externals/README.md
Due: none

Update Catch2 external repo to v3.7.1
  Externals/Catch2.cmake
  Externals/README.md
Due: none
