Repository MethanePowered/MethaneKit: changes, and which Codecov flags are due for each by the changed paths.
All: Common Primitives, Data Animation, Data Primitives, Data Provider, Data Range-Set, Data Types, Platform Utils, Platform Input, Platform App-View, Platform App, Graphics Types, Graphics RHI, Graphics Primitives, Graphics Mesh, Graphics Camera, Graphics App, User Interface Types, User Interface Typography, User Interface Widgets, User Interface App

Fix Rhi::RenderContext unit-test on Linux
  Tests/Graphics/RHI/RenderContextTest.cpp
Due: none

Refactor method Rhi::Texture::GetTextureView to return Rhi::TextureView instead of Rhi::ResourceView
  Apps/Common/Sources/Methane/Tutorials/TextureLabeler.cpp
  Modules/Graphics/App/Sources/Methane/Graphics/AppBase.cpp
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/Texture.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/Texture.cpp
  Modules/Graphics/RHI/Impl/Include/Methane/Graphics/RHI/Texture.h
  Modules/Graphics/RHI/Impl/Sources/Methane/Graphics/RHI/Texture.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ITexture.h
Due: Graphics RHI, Graphics App

Add Rhi::RenderPattern unit-test
  Tests/Graphics/RHI/CMakeLists.txt
  Tests/Graphics/RHI/README.md
  Tests/Graphics/RHI/RenderPatternTest.cpp
  Tests/Graphics/RHI/RhiSettings.hpp
Due: none

Fix Linux build error with "possibly dangling reference"
  Tests/Graphics/RHI/RhiSettings.hpp
Due: none

Add Rhi::RenderPass unit-test
  Tests/Graphics/RHI/CMakeLists.txt
  Tests/Graphics/RHI/README.md
  Tests/Graphics/RHI/RenderPassTest.cpp
  Tests/Graphics/RHI/RenderPatternTest.cpp
  Tests/Graphics/RHI/RhiSettings.hpp
  Tests/Graphics/RHI/RhiTestHelpers.hpp
Due: none

Add Rhi::ResourceBarrierId, Rhi::ResourceStateChange and Rhi::ResourceOwnerChange unit-tests
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IResourceBarriers.h
  Tests/Graphics/RHI/CMakeLists.txt
  Tests/Graphics/RHI/README.md
  Tests/Graphics/RHI/ResourceBarriersTest.cpp
  Tests/Graphics/RHI/RhiSettings.hpp
  Tests/Graphics/RHI/ViewStateTest.cpp
Due: Graphics RHI

Fix Rhi::ResourceBarrierId comparison test sporadic failures
  Tests/Graphics/RHI/ResourceBarriersTest.cpp
Due: none

Add Rhi::ResourceBarrier unit-tests
  Tests/Graphics/RHI/ResourceBarriersTest.cpp
Due: none

Add Rhi::ResourceBarriers container unit-tests
  Modules/Graphics/RHI/Impl/Include/Methane/Graphics/RHI/ResourceBarriers.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IResourceBarriers.h
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/IResourceBarriers.cpp
  Tests/Graphics/RHI/ResourceBarriersTest.cpp
Due: Graphics RHI

Fix test of Rhi::ResourceBarriers conversion to string
  Tests/Graphics/RHI/ResourceBarriersTest.cpp
Due: none

Add Rhi::RenderCommandList initial unit-tests
  Modules/Graphics/RHI/Impl/Include/Methane/Graphics/RHI/ComputeCommandList.h
  Modules/Graphics/RHI/Impl/Sources/Methane/Graphics/RHI/ComputeCommandList.cpp
  Modules/Graphics/RHI/Null/Include/Methane/Graphics/Null/RenderCommandList.h
  Tests/Graphics/RHI/CMakeLists.txt
  Tests/Graphics/RHI/README.md
  Tests/Graphics/RHI/RenderCommandListsTest.cpp
Due: Graphics RHI

Add Rhi::RenderCommandList additional unit-tests
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RenderCommandList.cpp
  Modules/Graphics/RHI/Null/Include/Methane/Graphics/Null/RenderCommandList.h
  Modules/Graphics/RHI/Null/Include/Methane/Graphics/Null/Resource.hpp
  Tests/Graphics/RHI/RenderCommandListsTest.cpp
  Tests/Graphics/RHI/RhiSettings.hpp
  Tests/Graphics/RHI/RhiTestHelpers.hpp
  Tests/Graphics/RHI/ViewStateTest.cpp
Due: Graphics RHI

Extend Rhi::RenderCommandList unit-tests
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RenderCommandList.cpp
  Modules/Graphics/RHI/Null/Include/Methane/Graphics/Null/RenderState.h
  Tests/Graphics/RHI/RenderCommandListsTest.cpp
  Tests/Graphics/RHI/RhiSettings.hpp
Due: Graphics RHI

Add GetRenderPass() method to the Rhi::ParallelRenderCommandList class and minor refactoring
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/ParallelRenderCommandList.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/RenderCommandList.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ParallelRenderCommandList.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RenderCommandList.cpp
  Modules/Graphics/RHI/Impl/Include/Methane/Graphics/RHI/ParallelRenderCommandList.h
  Modules/Graphics/RHI/Impl/Sources/Methane/Graphics/RHI/ParallelRenderCommandList.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IParallelRenderCommandList.h
Due: Graphics RHI

Add Rhi::ParallelRenderCommandList initial unit-tests
  Tests/Graphics/RHI/CMakeLists.txt
  Tests/Graphics/RHI/ComputeCommandListTest.cpp
  Tests/Graphics/RHI/ParallelRenderCommandListTest.cpp
  Tests/Graphics/RHI/README.md
  Tests/Graphics/RHI/RenderCommandListsTest.cpp
  Tests/Graphics/RHI/TransferCommandListTest.cpp
Due: none

Add Rhi::ParallelRenderCommandList additional unit-tests
  Modules/Graphics/RHI/Null/Include/Methane/Graphics/Null/ParallelRenderCommandList.h
  Modules/Graphics/RHI/Null/Sources/Methane/Graphics/Null/ParallelRenderCommandList.cpp
  Tests/Graphics/RHI/ParallelRenderCommandListTest.cpp
Due: Graphics RHI

Fix MacOS build
  Tests/Graphics/RHI/ParallelRenderCommandListTest.cpp
Due: none

Fix multithreaded access violation in Base::RenderPass
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/RenderPass.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RenderPass.cpp
  Tests/Graphics/RHI/ParallelRenderCommandListTest.cpp
Due: Graphics RHI

Fix CommandKit unit-test and enable it
  Tests/Graphics/RHI/CommandKitTest.cpp
Due: none

Drop VS2019 support
  Build/README.md
  CMakePresets.json
  README.md
Due: none

Fix SonarScanner code analysis issues
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/Texture.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RenderCommandList.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RenderContext.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RenderPass.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/System.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/Texture.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IRenderContext.h
  Modules/Graphics/Types/Include/Methane/Graphics/Color.hpp
Due: Graphics Types, Graphics RHI

Remove excessive parameter id from IResourceBarriers::Add method
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/ResourceBarriers.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ResourceBarriers.cpp
  Modules/Graphics/RHI/DirectX/Include/Methane/Graphics/DirectX/ResourceBarriers.h
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/ResourceBarriers.cpp
  Modules/Graphics/RHI/Impl/Include/Methane/Graphics/RHI/ResourceBarriers.h
  Modules/Graphics/RHI/Impl/Sources/Methane/Graphics/RHI/ResourceBarriers.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IResourceBarriers.h
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/ResourceBarriers.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ResourceBarriers.cpp
  Tests/Graphics/RHI/ResourceBarriersTest.cpp
Due: Graphics RHI

Fix remaining Sonar-Scan issues in Vulkan ResourceBarriers
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ResourceBarriers.cpp
Due: Graphics RHI

Update external libraries
  Externals/CLI11.cmake
  Externals/CPM.cmake
  Externals/Catch2.cmake
  Externals/DirectXHeaders.cmake
  Externals/DirectXTex.cmake
  Externals/FMT.cmake
  Externals/HLSLpp.cmake
  Externals/README.md
  Externals/TaskFlow.cmake
Due: none

Fix Apple build: increase default OSX deployment target to 13.3 and iOS deployment target to 17.0
  CMake/MethaneGlobalOptions.cmake
  CMakePresets.json
Due: none

Update CLion config files
  .idea/cmake.xml
  .idea/runConfigurations/08_ConsoleCompute.xml
  .idea/runConfigurations/Graphics_RHI_Test.xml
Due: none

Add missing Cmake presets for CodeQL Scan builds
  CMakePresets.json
Due: none

Update minimum CMake version to 3.24 and use X11::xcb_* targets on Linux
  CMakeLists.txt
  Modules/Platform/App/CMakeLists.txt
Due: Platform App

Get rid of stdext::checked_array_iterator in favor of std::span
  CMake/MethaneBuildOptions.cmake
  Externals/FMT.cmake
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/Buffer.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/Texture.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ResourceBarriers.cpp
Due: Graphics RHI

Increase default OSX deployment target to 13.4 for compatibility with XCode 16.3; Update minimum CMake version in CMake Presets and update CLion configurations
  .idea/cmake.xml
  CMake/MethaneGlobalOptions.cmake
  CMakePresets.json
Due: none

Add unit-tests for Mesh generators, fix build and some bugs
  Apps/07-ParallelRendering/ParallelRenderingApp.cpp
  Modules/Graphics/Mesh/CMakeLists.txt
  Modules/Graphics/Mesh/Include/Methane/Graphics/CubeMesh.hpp
  Modules/Graphics/Mesh/Include/Methane/Graphics/IcosahedronMesh.hpp
  Modules/Graphics/Mesh/Include/Methane/Graphics/Mesh.h
  Modules/Graphics/Mesh/Include/Methane/Graphics/QuadMesh.hpp
  Modules/Graphics/Mesh/Include/Methane/Graphics/SphereMesh.hpp
  Tests/Graphics/CMakeLists.txt
  Tests/Graphics/Mesh/CMakeLists.txt
  Tests/Graphics/Mesh/CubeMeshTest.cpp
  Tests/Graphics/Mesh/IcosahedronMeshTest.cpp
  Tests/Graphics/Mesh/MeshTestHelpers.hpp
  Tests/Graphics/Mesh/QuadMeshTest.cpp
  Tests/Graphics/Mesh/README.md
  Tests/Graphics/Mesh/SphereMeshTest.cpp
  Tests/Graphics/Mesh/UberMeshTest.cpp
  Tests/Graphics/README.md
Due: Graphics Mesh

Fix Mesh generator build and test errors
  Modules/Graphics/Mesh/Include/Methane/Graphics/CubeMesh.hpp
  Modules/Graphics/Mesh/Include/Methane/Graphics/IcosahedronMesh.hpp
  Modules/Graphics/Mesh/Include/Methane/Graphics/SphereMesh.hpp
  Modules/Graphics/Mesh/Include/Methane/Graphics/UberMesh.hpp
  Tests/Graphics/Mesh/CMakeLists.txt
  Tests/Graphics/Mesh/IcosahedronMeshTest.cpp
  Tests/Graphics/Mesh/MeshTestHelpers.hpp
  Tests/Graphics/Mesh/QuadMeshTest.cpp
  Tests/Graphics/Mesh/SimpleCubeMeshTest.cpp
  Tests/Graphics/Mesh/SphereMeshTest.cpp
  Tests/Graphics/Mesh/UberMeshTest.cpp
Due: Graphics Mesh

Fix remaining Sonar Scanner issues continued
  Modules/Graphics/Mesh/Include/Methane/Graphics/CubeMesh.hpp
  Modules/Graphics/Mesh/Include/Methane/Graphics/UberMesh.hpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/DescriptorManager.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/Program.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RenderPattern.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/BufferSet.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/DescriptorManager.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/RenderPass.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/ResourceBarriers.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/System.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/ViewState.cpp
  Modules/Graphics/RHI/Impl/Include/Methane/Graphics/RHI/CommandQueue.h
  Modules/Graphics/RHI/Impl/Sources/Methane/Graphics/RHI/CommandQueue.cpp
  Modules/Graphics/RHI/Impl/Sources/Methane/Graphics/RHI/Program.cpp
  Modules/Graphics/RHI/Impl/Sources/Methane/Graphics/RHI/System.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ResourceView.h
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/Types.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Buffer.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/BufferSet.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/CommandQueue.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Device.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/IResource.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ProgramBindings.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/QueryPool.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderCommandList.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderContext.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderPass.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderPattern.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderState.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Sampler.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/System.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Texture.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Types.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ViewState.cpp
  Modules/UserInterface/Types/Sources/Methane/UserInterface/Container.cpp
  Modules/UserInterface/Typography/Sources/Methane/UserInterface/FontImpl.hpp
  Modules/UserInterface/Typography/Sources/Methane/UserInterface/TextMesh.cpp
Due: Graphics RHI, Graphics Mesh, User Interface Types, User Interface Typography

Minor code cleanup
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/DescriptorHeap.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/ProgramBindings.cpp
  Modules/Graphics/RHI/Impl/Sources/Methane/Graphics/RHI/System.cpp
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/Sampler.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Program.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramBindings.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Shader.mm
  Modules/UserInterface/Typography/Sources/Methane/UserInterface/FontImpl.hpp
Due: Graphics RHI, User Interface Typography

Use designated initializers for Rhi::SamplerSettings
  Apps/03-TexturedCube/README.md
  Apps/03-TexturedCube/TexturedCubeApp.cpp
  Apps/04-ShadowCube/ShadowCubeApp.cpp
  Apps/06-CubeMapArray/CubeMapArrayApp.cpp
  Apps/07-ParallelRendering/ParallelRenderingApp.cpp
  Modules/Graphics/Primitives/Sources/Methane/Graphics/ScreenQuad.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ISampler.h
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/ISampler.cpp
  Modules/UserInterface/Typography/Sources/Methane/UserInterface/Text.cpp
  Tests/Graphics/RHI/ComputeCommandListTest.cpp
  Tests/Graphics/RHI/ComputeContextTest.cpp
  Tests/Graphics/RHI/ParallelRenderCommandListTest.cpp
  Tests/Graphics/RHI/ProgramBindingsTest.cpp
  Tests/Graphics/RHI/RenderCommandListsTest.cpp
  Tests/Graphics/RHI/RenderContextTest.cpp
  Tests/Graphics/RHI/SamplerTest.cpp
Due: Graphics RHI, Graphics Primitives, User Interface Typography

Fix Windows Profile builds configuration
  CMakePresets.json
Due: none

Fix install paths to lowercase "include" and "lib" directories
  CMake/MethaneModules.cmake
  Modules/Common/Instrumentation/CMakeLists.txt
  Modules/Common/Primitives/CMakeLists.txt
  Modules/Data/Animation/CMakeLists.txt
  Modules/Data/Events/CMakeLists.txt
  Modules/Data/Primitives/CMakeLists.txt
  Modules/Data/Provider/CMakeLists.txt
  Modules/Data/Types/CMakeLists.txt
  Modules/Graphics/App/CMakeLists.txt
  Modules/Graphics/Camera/CMakeLists.txt
  Modules/Graphics/Mesh/CMakeLists.txt
  Modules/Graphics/Primitives/CMakeLists.txt
  Modules/Graphics/RHI/Impl/CMakeLists.txt
  Modules/Graphics/RHI/Interface/CMakeLists.txt
  Modules/Graphics/Types/CMakeLists.txt
  Modules/Kit/CMakeLists.txt
  Modules/Platform/App/CMakeLists.txt
  Modules/Platform/AppView/CMakeLists.txt
  Modules/Platform/Input/ActionControllers/CMakeLists.txt
  Modules/Platform/Input/Controllers/CMakeLists.txt
  Modules/Platform/Input/Keyboard/CMakeLists.txt
  Modules/Platform/Input/Mouse/CMakeLists.txt
  Modules/Platform/Utils/CMakeLists.txt
  Modules/UserInterface/App/CMakeLists.txt
  Modules/UserInterface/Types/CMakeLists.txt
  Modules/UserInterface/Typography/CMakeLists.txt
  Modules/UserInterface/Widgets/CMakeLists.txt
Due: Common Primitives, Data Animation, Data Primitives, Data Provider, Data Types, Platform Utils, Platform Input, Platform App-View, Platform App, Graphics Types, Graphics RHI, Graphics Primitives, Graphics Mesh, Graphics Camera, Graphics App, User Interface Types, User Interface Typography, User Interface Widgets, User Interface App

Fix test instability
  Tests/Graphics/RHI/CommandKitTest.cpp
Due: none

Path conditions:
  Common Primitives: any of: Modules/Common/Primitives/**, but not: Tests, Apps
  Data Animation: (any of: Modules/Data/Animation/**, but not: Tests, Apps) or (any of: Modules/Data/Events/**, Tests/Data/Events/**, but not: Tests, Apps)
  Data Primitives: any of: Modules/Data/Primitives/**, but not: Tests, Apps
  Data Provider: any of: Modules/Data/Provider/**, but not: Tests, Apps
  Data Range-Set: any of: Modules/Data/RangeSet/**, Tests/Data/RangeSet/**, but not: Tests, Apps
  Data Types: any of: Modules/Data/Types/**, Tests/Data/Types/**, but not: Tests, Apps
  Platform Utils: any of: Modules/Platform/Utils/**, but not: Tests, Apps
  Platform Input: any of: Modules/Platform/Input/**, Tests/Platform/Input/**, but not: Tests, Apps
  Platform App-View: any of: Modules/Platform/AppView/**, but not: Tests, Apps
  Platform App: any of: Modules/Platform/App/**, but not: Tests, Apps
  Graphics Types: any of: Modules/Graphics/Types/**, Tests/Graphics/Types/**, but not: Tests, Apps
  Graphics RHI: any of: Modules/Graphics/RHI/**, but not: Tests, Apps
  Graphics Primitives: any of: Modules/Graphics/Primitives/**, but not: Tests, Apps
  Graphics Mesh: any of: Modules/Graphics/Mesh/**, but not: Tests, Apps
  Graphics Camera: any of: Modules/Graphics/Camera/**, Tests/Graphics/Camera/**, but not: Tests, Apps
  Graphics App: any of: Modules/Graphics/App/**, but not: Tests, Apps
  User Interface Types: any of: Modules/UserInterface/Types/**, Tests/UserInterface/Types/**, but not: Tests, Apps
  User Interface Typography: any of: Modules/UserInterface/Typography/**, but not: Tests, Apps
  User Interface Widgets: any of: Modules/UserInterface/Widgets/**, but not: Tests, Apps
  User Interface App: any of: Modules/UserInterface/App/**, but not: Tests, Apps
