Repository MethanePowered/MethaneKit: changes, and which Codecov flags are due for each by the changed paths.
All: Common Primitives, Data Animation, Data Primitives, Data Provider, Data Range-Set, Data Types, Platform Utils, Platform Input, Platform App-View, Platform App, Graphics Types, Graphics RHI, Graphics Primitives, Graphics Mesh, Graphics Camera, Graphics App, User Interface Types, User Interface Typography, User Interface Widgets, User Interface App

Update FTXUI external repo to v5.0.0
  Externals/FTXUI.cmake
  Externals/README.md
Due: none

Update BoostNowide external repo to v1.87.0
  Externals/BoostNowide.cmake
  Externals/README.md
Due: none

Update HLSL++ external repo to v3.5.3
  Externals/HLSLpp.cmake
  Externals/README.md
Due: none

Update TaskFlow external repo to v3.8.0
  Externals/README.md
  Externals/TaskFlow.cmake
Due: none

Fix Windows build
  Externals/TaskFlow.cmake
  Tests/Graphics/RHI/ProgramBindingsTest.cpp
Due: none

Update SPIRVCross external repo to v1.3.296.0
  Externals/README.md
  Externals/SPIRVCross.cmake
Due: none

Update DirectXHeaders external repo to v1.3.296.0
  Externals/DirectXHeaders.cmake
  Externals/README.md
Due: none

Update DirectXTex external repo to v2.0.6 (oct 2024)
  Externals/DirectXTex.cmake
  Externals/README.md
Due: none

Update Tracy external repo to v0.11.2.1
  Externals/README.md
  Externals/Tracy.cmake
Due: none

Bump MethaneKit version to v0.8.0
  .github/workflows/ci-build.yml
  .github/workflows/ci-sonar-scan.yml
  CMakeLists.txt
Due: none

Update TaskFlow extern repo to v3.8.0.2 with addition hot-fix
  Externals/TaskFlow.cmake
Due: none

Fix Metal crash due to executing state of the current frame command lists.
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/CommandQueue.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/CommandQueue.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/RenderContext.mm
Due: Graphics RHI

Add CMake option METHANE_METAL_FRAMES_SYNC_WITH_DISPATCH_SEMAPHORE
  Build/README.md
  CMakeLists.txt
  Modules/Graphics/RHI/Metal/CMakeLists.txt
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/RenderContext.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/RenderContext.mm
Due: Graphics RHI

Fix Metal frame-synchronization issue (sporadic crash on wrong command list state), disable VSync by default
  Apps/Common/Sources/Methane/Tutorials/AppSettings.cpp
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/CommandListSet.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/CommandQueueTracking.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/CommandList.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/CommandQueueTracking.cpp
  Modules/Graphics/RHI/DirectX/Include/Methane/Graphics/DirectX/CommandListSet.h
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/CommandListSet.cpp
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/CommandListSet.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/CommandListSet.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/RenderContext.mm
  Modules/Graphics/RHI/Null/Include/Methane/Graphics/Null/CommandListSet.h
  Modules/Graphics/RHI/Null/Sources/Methane/Graphics/Null/CommandListSet.cpp
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/CommandListSet.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/CommandListSet.cpp
Due: Graphics RHI

Update Vulkan frame synchronization to align with Metal
  Apps/Common/Sources/Methane/Tutorials/AppSettings.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderContext.cpp
Due: Graphics RHI

Minor fixes for frame synchronization
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/CommandListSet.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderContext.cpp
Due: Graphics RHI

Update build version in shell scripts
  Build/Unix/Build.sh
  Build/Windows/Build.bat
Due: none

Minor fix in README of Parallel Rendering
  Apps/07-ParallelRendering/README.md
Due: none

Update DirectX frame synchronization to align with Vulkan and Metal
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/RenderContext.cpp
Due: Graphics RHI

Fix static-analysis issues
  Apps/07-ParallelRendering/ParallelRenderingApp.cpp
  Modules/Data/Types/Include/Methane/Data/Chunk.hpp
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/DescriptorManager.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/Program.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/ProgramArgumentBinding.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/RootConstantBuffer.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/Program.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramBindings.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RootConstantBuffer.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/RootConstant.h
Due: Data Types, Graphics RHI

Fix static-analysis issues: apply hidden friend pattern to binary operators
  Apps/07-ParallelRendering/ParallelRenderingApp.cpp
  Apps/07-ParallelRendering/ParallelRenderingApp.h
  Modules/Data/Primitives/Include/Methane/Data/AlignedAllocator.hpp
  Modules/Data/RangeSet/Include/Methane/Data/Range.hpp
  Modules/Data/Types/Include/Methane/Data/Point.hpp
  Modules/Data/Types/Include/Methane/Data/Rect.hpp
  Modules/Graphics/Types/Include/Methane/Graphics/Volume.hpp
  Modules/UserInterface/Types/Include/Methane/UserInterface/Types.hpp
Due: Data Primitives, Data Range-Set, Data Types, Graphics Types, User Interface Types

Checkout all repository history for Sonar scan action
  .github/workflows/ci-sonar-scan.yml
Due: none

Fix static-analysis issues: apply hidden friend pattern to binary operators
  Apps/07-ParallelRendering/ParallelRenderingApp.cpp
  Apps/07-ParallelRendering/ParallelRenderingApp.h
  Modules/Data/Types/Include/Methane/Data/Vector.hpp
  Modules/Graphics/Mesh/Include/Methane/Graphics/Mesh.h
  Modules/Graphics/Mesh/Sources/Methane/Graphics/Mesh.cpp
  Modules/Graphics/Primitives/Sources/Methane/Graphics/SkyBox.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramBindings.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IBuffer.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IShader.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ITexture.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ProgramArgument.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ResourceView.h
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/IBuffer.cpp
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/IShader.cpp
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/ITexture.cpp
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/ProgramArgument.cpp
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/ResourceView.cpp
  Modules/Graphics/Types/Include/Methane/Graphics/Color.hpp
Due: Data Types, Graphics Types, Graphics RHI, Graphics Primitives, Graphics Mesh

Fix static_analysis issues with const_cast: remove const from context reference in Program constructor
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/Program.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/Program.cpp
  Modules/Graphics/RHI/DirectX/Include/Methane/Graphics/DirectX/Context.hpp
  Modules/Graphics/RHI/DirectX/Include/Methane/Graphics/DirectX/Program.h
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/Program.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IContext.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IProgram.h
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/IProgram.cpp
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/Context.hpp
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/Program.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Program.mm
  Modules/Graphics/RHI/Null/Include/Methane/Graphics/Null/Context.hpp
  Modules/Graphics/RHI/Null/Include/Methane/Graphics/Null/Program.h
  Modules/Graphics/RHI/Null/Sources/Methane/Graphics/Null/Program.cpp
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/Context.hpp
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/Program.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Program.cpp
Due: Graphics RHI

Fix remaining static analysis issues
  Modules/Data/Types/Include/Methane/Data/Chunk.hpp
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/Program.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/ProgramBindings.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/Program.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramBindings.cpp
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/ProgramArgumentBinding.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ProgramBindings.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Shader.cpp
Due: Data Types, Graphics RHI

Replace FIXME comment with NOTE, since this is fine
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramArgumentBinding.cpp
Due: Graphics RHI

Enhance documentation with help of Copilot
  Apps/01-HelloTriangle/README.md
  Apps/02-HelloCube/HelloCubeApp.cpp
  Apps/02-HelloCube/README.md
  Apps/03-TexturedCube/README.md
  Apps/04-ShadowCube/README.md
  Apps/05-Typography/README.md
  Apps/06-CubeMapArray/README.md
  Apps/07-ParallelRendering/README.md
  Apps/08-ConsoleCompute/README.md
  Build/README.md
  README.md
Due: none

Fix unused variables
  Apps/08-ConsoleCompute/Shaders/GameOfLifeRules.h
Due: none

Try to enable CodeQL scan on Windows
  .github/workflows/ci-codeql-scan.yml
Due: none

Enable Metal Argument Buffers as a primary binding mechanism by default
  Build/README.md
  CMakeLists.txt
  CMakePresets.json
Due: none

Update iOS deployment target to 16.0
  Build/README.md
  Build/Unix/Build.sh
  Externals/iOS-Toolchain.cmake
Due: none

Update CPM.cmake to v0.40.5
  Externals/CPM.cmake
Due: none

Fix Metal argument buffer array members reflection
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Shader.mm
Due: Graphics RHI

Update CPM version in ReadMe and add new option to CMakePresets
  CMakePresets.json
  Externals/README.md
Due: none

Fix Metal memory leak when PIMPL Inlining is disabled: always enable ARC automatic reference counting for the whole application which uses Metal
  CMake/MethaneBuildOptions.cmake
Due: none

Fix Vulkan RHI build with newer Vulkan SDK versions > 300
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/System.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/System.cpp
Due: Graphics RHI

Switch Sonar-Scanner workflow to macos-latest runner to run on M1 H/W
  .github/workflows/ci-sonar-scan.yml
Due: none

Use hidden friend pattern for binary operators
  Modules/Data/Primitives/Include/Methane/Data/IFpsCounter.h
  Modules/Data/Primitives/Sources/Methane/Data/IFpsCounter.cpp
  Modules/Data/RangeSet/Include/Methane/Data/RangeSet.hpp
  Modules/Data/Types/Include/Methane/Data/EnumMask.hpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IComputeContext.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IComputeState.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IRenderPass.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IRenderPattern.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IRenderState.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IResourceBarriers.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ISampler.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IViewState.h
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/IComputeContext.cpp
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/IComputeState.cpp
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/IRenderPass.cpp
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/IRenderPattern.cpp
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/IRenderState.cpp
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/IResourceBarriers.cpp
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/ISampler.cpp
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/IViewState.cpp
  Modules/Platform/Input/Keyboard/Include/Methane/Platform/Input/Keyboard.h
  Modules/Platform/Input/Keyboard/Sources/Methane/Platform/Input/Keyboard.cpp
  Modules/Platform/Input/Mouse/Include/Methane/Platform/Input/Mouse.h
  Modules/Platform/Input/Mouse/Sources/Methane/Platform/Input/Mouse.cpp
  Modules/UserInterface/Typography/Include/Methane/UserInterface/Text.h
  Modules/UserInterface/Typography/Sources/Methane/UserInterface/FontChar.h
  Modules/UserInterface/Typography/Sources/Methane/UserInterface/FontImpl.hpp
Due: Data Primitives, Data Range-Set, Data Types, Platform Input, Graphics RHI, User Interface Typography

Fix C++ issues before update to C++20
  Modules/Graphics/Camera/Include/Methane/Graphics/Camera.h
  Modules/Graphics/Camera/Sources/Methane/Graphics/ActionCamera.cpp
  Modules/Graphics/Camera/Sources/Methane/Graphics/ArcBallCamera.cpp
  Modules/Graphics/Camera/Sources/Methane/Graphics/Camera.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/DirectX/Include/Methane/Graphics/DirectX/CommandList.hpp
  Modules/Graphics/RHI/DirectX/Include/Methane/Graphics/DirectX/Context.hpp
  Modules/Graphics/RHI/DirectX/Include/Methane/Graphics/DirectX/Resource.hpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/IResource.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/Shader.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/Texture.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Device.cpp
Due: Graphics RHI, Graphics Camera

Fix C++ issues on MacOS before update to C++20
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Shader.mm
  Modules/Platform/Input/Keyboard/Sources/Methane/Platform/Input/Keyboard.cpp
  Modules/Platform/Input/Mouse/Sources/Methane/Platform/Input/Mouse.cpp
Due: Platform Input, Graphics RHI

Path conditions:
  Common Primitives: any of: Modules/Common/Primitives/**, but not: Tests, Apps
  Data Animation: (any of: Modules/Data/Animation/**, but not: Tests, Apps) or (any of: Modules/Data/Events/**, Tests/Data/Events/**, but not: Tests, Apps)
  Data Primitives: any of: Modules/Data/Primitives/**, but not: Tests, Apps
  Data Provider: any of: Modules/Data/Provider/**, but not: Tests, Apps
  Data Range-Set: any of: Modules/Data/RangeSet/**, Tests/Data/RangeSet/**, but not: Tests, Apps
  Data Types: any of: Modules/Data/Types/**, Tests/Data/Types/**, but not: Tests, Apps
  Platform Utils: any of: Modules/Platform/Utils/**, but not: Tests, Apps
  Platform Input: any of: Modules/Platform/Input/**, Tests/Platform/Input/**, but not: Tests, Apps
  Platform App-View: any of: Modules/Platform/AppView/**, but not: Tests, Apps
  Platform App: any of: Modules/Platform/App/**, but not: Tests, Apps
  Graphics Types: any of: Modules/Graphics/Types/**, Tests/Graphics/Types/**, but not: Tests, Apps
  Graphics RHI: any of: Modules/Graphics/RHI/**, but not: Tests, Apps
  Graphics Primitives: any of: Modules/Graphics/Primitives/**, but not: Tests, Apps
  Graphics Mesh: any of: Modules/Graphics/Mesh/**, but not: Tests, Apps
  Graphics Camera: any of: Modules/Graphics/Camera/**, Tests/Graphics/Camera/**, but not: Tests, Apps
  Graphics App: any of: Modules/Graphics/App/**, but not: Tests, Apps
  User Interface Types: any of: Modules/UserInterface/Types/**, Tests/UserInterface/Types/**, but not: Tests, Apps
  User Interface Typography: any of: Modules/UserInterface/Typography/**, but not: Tests, Apps
  User Interface Widgets: any of: Modules/UserInterface/Widgets/**, but not: Tests, Apps
  User Interface App: any of: Modules/UserInterface/App/**, but not: Tests, Apps
