Repository MethanePowered/MethaneKit: changes, and which Codecov flags are due for each by the changed paths.
All: Common Primitives, Data Animation, Data Primitives, Data Provider, Data Range-Set, Data Types, Platform Utils, Platform Input, Platform App-View, Platform App, Graphics Types, Graphics RHI, Graphics Primitives, Graphics Mesh, Graphics Camera, Graphics App, User Interface Types, User Interface Typography, User Interface Widgets, User Interface App

Fix Sonar Scan workflow for external pull requests
  .github/workflows/ci-build.yml
  .github/workflows/ci-sonar-scan.yml
  Build/Unix/CI/RunSonarScanner.sh
  Build/Unix/CI/RunUnitTestsWithCoverage.sh
  Build/Unix/CI/WriteBuildInfo.sh
  Build/Windows/CI/RunUnitTestsWithCoverage.bat
Due: none

Improve test results publishing in PRs and commits
  .github/workflows/ci-build.yml
  .github/workflows/ci-sonar-scan.yml
  .github/workflows/ci-tests-coverage.yml
  .github/workflows/ci-tests-report.yml
  Build/Unix/CI/RunUnitTests.sh
  Build/Unix/CI/RunUnitTestsWithCoverage.sh
  Build/Windows/CI/RunUnitTests.bat
  Build/Windows/CI/RunUnitTestsWithCoverage.bat
Due: none

Remove some tests
  Tests/Graphics/RHI/CMakeLists.txt
  Tests/Graphics/Types/CMakeLists.txt
  Tests/Platform/Input/KeyboardTest.cpp
Due: none

Dumb changes to test static analysis
  Modules/Data/Types/Include/Methane/Data/TimeRange.hpp
  Modules/Graphics/App/Include/Methane/Graphics/AppBase.h
  Modules/Graphics/App/Include/Methane/Graphics/AppCameraController.h
  Modules/Graphics/App/Sources/Methane/Graphics/AppBase.cpp
  Modules/Graphics/App/Sources/Methane/Graphics/AppCameraController.cpp
  Tests/Graphics/RHI/CMakeLists.txt
  Tests/Graphics/Types/CMakeLists.txt
  Tests/Platform/Input/KeyboardTest.cpp
Due: Data Types, Graphics App

Fail some tests
  Tests/Graphics/RHI/ProgramBindingsTest.cpp
  Tests/Graphics/RHI/SamplerTest.cpp
  Tests/Graphics/RHI/TextureTest.cpp
  Tests/Graphics/Types/CMakeLists.txt
  Tests/Graphics/Types/ColorTest.cpp
Due: none

Bump MethaneKit version to v0.7.4
  .github/workflows/ci-build.yml
  .github/workflows/ci-sonar-scan.yml
  Build/Unix/Build.sh
  Build/Windows/Build.bat
  CMakeLists.txt
Due: none

Update Tracy to v0.10
  .github/workflows/ci-build.yml
  CMakeLists.txt
  Externals/README.md
  Externals/Tracy.cmake
Due: none

Use Metal Shader Converter binaries from separate repository
  CMake/MethaneShaders.cmake
  Externals/CMakeLists.txt
  Externals/MetalShaderConverterBinary.cmake
  Externals/README.md
Due: none

Fix DirectX compiled shaders loading from embedded resources
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/Shader.cpp
Due: Graphics RHI

Update IttApi to v3.24.6
  Externals/IttApi.cmake
Due: none

Fix CI badge parameter updating in case of `schedule` event
  .github/workflows/ci-build.yml
  .github/workflows/ci-sonar-scan.yml
Due: none

Disable precompiled headers for CMake v3.28.2 as Makefiles generator bug workaround
  CMakeLists.txt
Due: none

Add reflection of Metal Argument Buffers layout
  Build/README.md
  CMake/MethaneShaders.cmake
  CMakeLists.txt
  Modules/Graphics/RHI/Metal/CMakeLists.txt
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/Context.hpp
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/DescriptorManager.hh
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/ProgramArgumentBinding.hh
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/Shader.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/DescriptorManager.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Shader.mm
Due: Graphics RHI

Update actions to use Node.js 20 to fix deprecation warnings
  .github/workflows/ci-build.yml
  .github/workflows/ci-codeql-scan.yml
  .github/workflows/ci-sonar-scan.yml
Due: none

Refactor Argument Buffer Layout reflection
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/Shader.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Shader.mm
Due: Graphics RHI

Add Metal argument buffer layout in DescriptorManager
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/Program.h
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/DescriptorManager.hh
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/Program.hh
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/ProgramBindings.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/DescriptorManager.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Program.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramBindings.mm
Due: Graphics RHI

Add Metal argument buffer initialization and bindings setup in command encoders
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/DescriptorManager.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/Program.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/ProgramBindings.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/Context.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/DescriptorManager.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramBindings.cpp
  Modules/Graphics/RHI/DirectX/Include/Methane/Graphics/DirectX/ProgramBindings.h
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/Program.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/ProgramBindings.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/TypeFormatters.hpp
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/Context.hpp
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/DescriptorManager.hh
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/Program.hh
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/ProgramArgumentBinding.hh
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/ProgramBindings.hh
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/RenderContext.hh
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/Shader.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/DescriptorManager.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Program.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramArgumentBinding.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramBindings.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/RenderContext.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Shader.mm
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/ProgramBindings.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Program.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ProgramBindings.cpp
Due: Graphics RHI

Add Metal useResources calls recording in ProgramBindings
  Build/Unix/Build.sh
  Build/Windows/Build.bat
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/ProgramArgumentBinding.hh
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/ProgramBindings.hh
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/Resource.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Buffer.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/DescriptorManager.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramArgumentBinding.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramBindings.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Resource.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Texture.mm
Due: Graphics RHI

Fix Metal shader buffers index collision issue with input vertex buffer
  Apps/02-HelloCube/README.md
  Apps/02-HelloCube/Shaders/HelloCube.hlsl
  Apps/04-ShadowCube/README.md
  Apps/04-ShadowCube/Shaders/ShadowCube.hlsl
  Apps/06-CubeMapArray/Shaders/CubeMapArray.hlsl
  Apps/07-ParallelRendering/Shaders/ParallelRendering.hlsl
  Modules/Graphics/Primitives/Shaders/ScreenQuad.hlsl
  Modules/Graphics/Primitives/Shaders/SkyBox.hlsl
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/Program.hh
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/RenderCommandList.hh
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/Shader.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Program.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/RenderCommandList.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Shader.mm
  Modules/UserInterface/Typography/Shaders/Text.hlsl
Due: Graphics RHI, Graphics Primitives, User Interface Typography

Add Metal program binding debug logging of argument buffers initialization and setup
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/CommandList.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RenderCommandList.cpp
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/DescriptorManager.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramBindings.mm
Due: Graphics RHI

Fix Metal app crash with argument buffers because of sampler flag supportArgumentBuffers was missing
  Modules/Graphics/RHI/Metal/CMakeLists.txt
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Sampler.mm
Due: Graphics RHI

Fix Metal argument buffer offsets after ProgramBindings::CreateCopy
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/Program.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/CommandList.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramBindings.cpp
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/Program.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Program.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramArgumentBinding.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramBindings.mm
Due: Graphics RHI

Fix Metal program bindings completing initialization in DescriptorManager
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/DescriptorManager.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/DescriptorManager.hh
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/ProgramBindings.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/DescriptorManager.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramBindings.mm
  Modules/UserInterface/Typography/Sources/Methane/UserInterface/Text.cpp
Due: Graphics RHI, User Interface Typography

Rework Metal argument bindings handling in DescriptorManager, support for reusing ranges after release
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/DescriptorManager.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/ProgramBindings.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramBindings.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IDescriptorManager.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ResourceView.h
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/ResourceView.cpp
  Modules/Graphics/RHI/Metal/CMakeLists.txt
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/DescriptorManager.hh
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/ProgramBindings.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/DescriptorManager.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramBindings.mm
Due: Graphics RHI

Fix build and fix regular Metal bindings
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/ResourceView.cpp
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/DescriptorManager.mm
Due: Graphics RHI

Add updating of program bindings in Metal arguments buffer
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramBindings.cpp
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/DescriptorManager.hh
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/ProgramBindings.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/DescriptorManager.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramArgumentBinding.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramBindings.mm
Due: Graphics RHI

Improve performance and stability of Metal Parallel Rendering and argument buffer bindings
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/ProgramArgumentBinding.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/CommandList.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramBindings.cpp
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/CommandList.hpp
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/DescriptorManager.hh
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/ProgramArgumentBinding.hh
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/ProgramBindings.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ComputeCommandList.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/DescriptorManager.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ParallelRenderCommandList.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramArgumentBinding.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramBindings.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/RenderCommandList.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/TransferCommandList.mm
Due: Graphics RHI

Optimize calls to Metal useResources when using argument buffers
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/ProgramBindings.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramBindings.mm
Due: Graphics RHI

Add shader argument type in HLSL as register space definitions
  Apps/02-HelloCube/Shaders/HelloCube.hlsl
  Apps/03-TexturedCube/Shaders/TexturedCube.hlsl
  Apps/04-ShadowCube/Shaders/ShadowCube.hlsl
  Apps/06-CubeMapArray/Shaders/CubeMapArray.hlsl
  Apps/07-ParallelRendering/Shaders/ParallelRendering.hlsl
  Apps/08-ConsoleCompute/Shaders/GameOfLife.hlsl
  CMake/MethaneShaders.cmake
  Modules/Graphics/Primitives/Shaders/ScreenQuad.hlsl
  Modules/Graphics/Primitives/Shaders/SkyBox.hlsl
  Modules/UserInterface/Typography/Shaders/Text.hlsl
Due: Graphics Primitives, User Interface Typography

Fix new MSVC warning: throw copies non-copyable type
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramBindings.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IProgram.h
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/IProgram.cpp
Due: Graphics RHI

Enable argument access types definition in HLSL shaders code instead of Program settings
  Apps/02-HelloCube/HelloCubeApp.cpp
  Apps/02-HelloCube/README.md
  Apps/03-TexturedCube/README.md
  Apps/03-TexturedCube/TexturedCubeApp.cpp
  Apps/04-ShadowCube/README.md
  Apps/04-ShadowCube/ShadowCubeApp.cpp
  Apps/06-CubeMapArray/CubeMapArrayApp.cpp
  Apps/07-ParallelRendering/ParallelRenderingApp.cpp
  Apps/08-ConsoleCompute/ConsoleComputeApp.cpp
  Apps/08-ConsoleCompute/README.md
  CMake/MethaneShaders.cmake
  Modules/Graphics/Primitives/Sources/Methane/Graphics/ScreenQuad.cpp
  Modules/Graphics/Primitives/Sources/Methane/Graphics/SkyBox.cpp
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/Program.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/ProgramArgumentBinding.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/Program.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/Program.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/Shader.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IProgram.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IShader.h
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/IProgram.cpp
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/Program.hh
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/ProgramArgumentBinding.hh
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/ProgramBindings.hh
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/Shader.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Program.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramArgumentBinding.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramBindings.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Shader.mm
  Modules/Graphics/RHI/Null/Sources/Methane/Graphics/Null/Program.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Program.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ProgramBindings.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Shader.cpp
  Modules/UserInterface/Typography/Sources/Methane/UserInterface/Text.cpp
Due: Graphics RHI, Graphics Primitives, User Interface Typography

Add support of shader argument access type definition from HLSL in DirectX RHI
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/Shader.cpp
Due: Graphics RHI

Fix STL deprecation warnings in FMT library
  Externals/FMT.cmake
Due: none

Fix CI build failure on scheduled re-run when test-space results already exist
  .github/workflows/ci-build.yml
  .github/workflows/ci-sonar-scan.yml
Due: none

Split Metal argument buffer by argument binding access types
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/Program.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/Program.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IProgram.h
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/DescriptorManager.hh
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/Program.hh
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/ProgramBindings.hh
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/Shader.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/DescriptorManager.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Program.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramArgumentBinding.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramBindings.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Shader.mm
Due: Graphics RHI

Temporary switch Sonar-Scan action back to macos-13 hosted runner to use Intel h/w, instead of M1/ARM
  .github/workflows/ci-sonar-scan.yml
Due: none

Refactor Metal ProgramBindings to reduce code duplication with help of templates
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/Context.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ICommandList.h
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/ProgramBindings.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramBindings.mm
Due: Graphics RHI

Optimize Metal ProgramBindings with constant argument buffers setup in command lists
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/ProgramBindings.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramBindings.mm
Due: Graphics RHI

Fix Windows build with new MSVC version 19.40
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IProgram.h
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/IProgram.cpp
Due: Graphics RHI

Path conditions:
  Common Primitives: any of: Modules/Common/Primitives/**, but not: Tests, Apps
  Data Animation: (any of: Modules/Data/Animation/**, but not: Tests, Apps) or (any of: Modules/Data/Events/**, Tests/Data/Events/**, but not: Tests, Apps)
  Data Primitives: any of: Modules/Data/Primitives/**, but not: Tests, Apps
  Data Provider: any of: Modules/Data/Provider/**, but not: Tests, Apps
  Data Range-Set: any of: Modules/Data/RangeSet/**, Tests/Data/RangeSet/**, but not: Tests, Apps
  Data Types: any of: Modules/Data/Types/**, Tests/Data/Types/**, but not: Tests, Apps
  Platform Utils: any of: Modules/Platform/Utils/**, but not: Tests, Apps
  Platform Input: any of: Modules/Platform/Input/**, Tests/Platform/Input/**, but not: Tests, Apps
  Platform App-View: any of: Modules/Platform/AppView/**, but not: Tests, Apps
  Platform App: any of: Modules/Platform/App/**, but not: Tests, Apps
  Graphics Types: any of: Modules/Graphics/Types/**, Tests/Graphics/Types/**, but not: Tests, Apps
  Graphics RHI: any of: Modules/Graphics/RHI/**, but not: Tests, Apps
  Graphics Primitives: any of: Modules/Graphics/Primitives/**, but not: Tests, Apps
  Graphics Mesh: any of: Modules/Graphics/Mesh/**, but not: Tests, Apps
  Graphics Camera: any of: Modules/Graphics/Camera/**, Tests/Graphics/Camera/**, but not: Tests, Apps
  Graphics App: any of: Modules/Graphics/App/**, but not: Tests, Apps
  User Interface Types: any of: Modules/UserInterface/Types/**, Tests/UserInterface/Types/**, but not: Tests, Apps
  User Interface Typography: any of: Modules/UserInterface/Typography/**, but not: Tests, Apps
  User Interface Widgets: any of: Modules/UserInterface/Widgets/**, but not: Tests, Apps
  User Interface App: any of: Modules/UserInterface/App/**, but not: Tests, Apps
