Repository MethanePowered/MethaneKit: changes, and which Codecov flags are due for each by the changed paths.
All: Common Primitives, Data Animation, Data Primitives, Data Provider, Data Range-Set, Data Types, Platform Utils, Platform Input, Platform App-View, Platform App, Graphics Types, Graphics RHI, Graphics Primitives, Graphics Mesh, Graphics Camera, Graphics App, User Interface Types, User Interface Typography, User Interface Widgets, User Interface App

Bump Methane Kit version to v0.8.1
  .github/workflows/ci-build.yml
  .github/workflows/ci-sonar-scan.yml
  Build/Unix/Build.sh
  Build/Windows/Build.bat
  CMakeLists.txt
Due: none

Update CodeQL actions to v3 since v2 is deprecated
  .github/workflows/ci-codeql-scan.yml
Due: none

Switch Methane Kit to C++20 standard
  CMakeLists.txt
Due: none

Use static STB Image implementation for Linux App, separate from Graphics::ImageLoader to resolve linkage conflict
  Modules/Graphics/Primitives/Sources/Methane/Graphics/ImageLoader.cpp
  Modules/Platform/App/Sources/Methane/Platform/Linux/AppLin.cpp
Due: Platform App, Graphics Primitives

Fix Rhi::SubResourceCount::operator<=> return value
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ResourceView.h
Due: Graphics RHI

Fix unit tests of Rect, Volume and UnitType comparison operators
  Modules/Data/Types/Include/Methane/Data/Rect.hpp
  Modules/Graphics/Types/Include/Methane/Graphics/Volume.hpp
  Modules/UserInterface/Types/Include/Methane/UserInterface/Types.hpp
  Tests/Graphics/Types/VolumeSizeTest.cpp
Due: Data Types, Graphics Types, User Interface Types

Fix build error
  Modules/Common/Primitives/Include/Methane/Pimpl.h
  Modules/UserInterface/Typography/Include/Methane/UserInterface/Font.h
Due: Common Primitives, User Interface Typography

Revert back to normal comparison operators for Rect, Volume and UnitType
  Modules/Data/Primitives/Include/Methane/Data/RectBinPack.hpp
  Modules/Data/Types/Include/Methane/Data/Rect.hpp
  Modules/Graphics/Types/Include/Methane/Graphics/Volume.hpp
  Modules/UserInterface/Types/Include/Methane/UserInterface/Types.hpp
  Tests/Data/Types/RectSizeTest.cpp
  Tests/Graphics/Types/VolumeSizeTest.cpp
Due: Data Primitives, Data Types, Graphics Types, User Interface Types

Use default three-way comparison for Rect, Volume and UnitType along with new ContainedIn method
  Modules/Data/Primitives/Include/Methane/Data/RectBinPack.hpp
  Modules/Data/Types/Include/Methane/Data/Rect.hpp
  Modules/Graphics/Types/Include/Methane/Graphics/Volume.hpp
  Modules/UserInterface/Types/Include/Methane/UserInterface/Types.hpp
  Modules/UserInterface/Typography/Sources/Methane/UserInterface/FontChar.cpp
  Tests/Data/Types/RectSizeTest.cpp
  Tests/Graphics/Types/VolumeSizeTest.cpp
Due: Data Primitives, Data Types, Graphics Types, User Interface Types, User Interface Typography

Remove manually defined != operators to auto-generate them with C++20
  Modules/Data/Primitives/Include/Methane/Data/AlignedAllocator.hpp
  Modules/Data/RangeSet/Include/Methane/Data/Range.hpp
  Modules/Data/Types/Include/Methane/Data/Chunk.hpp
  Modules/Data/Types/Include/Methane/Data/Vector.hpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IBuffer.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IComputeContext.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IComputeState.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IRenderPass.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IRenderPattern.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IRenderState.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ISampler.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IShader.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ITexture.h
  Modules/Graphics/Types/Include/Methane/Graphics/Color.hpp
  Modules/Platform/Input/Mouse/Include/Methane/Platform/Input/Mouse.h
Due: Data Primitives, Data Range-Set, Data Types, Platform Input, Graphics Types, Graphics RHI

Upgrade to C++20 concepts by replacing SFINAE templates
  Modules/Common/Primitives/Include/Methane/Timer.hpp
  Modules/Data/Types/Include/Methane/Data/Chunk.hpp
  Modules/Data/Types/Include/Methane/Data/Constants.hpp
  Modules/Data/Types/Include/Methane/Data/Math.hpp
  Modules/Data/Types/Include/Methane/Data/Point.hpp
  Modules/Data/Types/Include/Methane/Data/Rect.hpp
  Modules/Data/Types/Include/Methane/Data/Vector.hpp
  Modules/Graphics/App/Include/Methane/Graphics/App.hpp
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/CommandList.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/Object.h
  Modules/Graphics/RHI/DirectX/Include/Methane/Graphics/DirectX/CommandList.hpp
  Modules/Graphics/RHI/DirectX/Include/Methane/Graphics/DirectX/Context.hpp
  Modules/Graphics/RHI/DirectX/Include/Methane/Graphics/DirectX/Resource.hpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IObject.h
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/CommandList.hpp
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/Context.hpp
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/Resource.hh
  Modules/Graphics/RHI/Null/Include/Methane/Graphics/Null/CommandList.hpp
  Modules/Graphics/RHI/Null/Include/Methane/Graphics/Null/Context.hpp
  Modules/Graphics/RHI/Null/Include/Methane/Graphics/Null/Resource.hpp
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/CommandList.hpp
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/Context.hpp
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/Resource.hpp
  Modules/Graphics/Types/Include/Methane/Graphics/Color.hpp
  Modules/Graphics/Types/Include/Methane/Graphics/Volume.hpp
  Modules/Platform/Input/Controllers/Include/Methane/Platform/Input/State.h
  Modules/UserInterface/Types/Include/Methane/UserInterface/Context.h
  Modules/UserInterface/Types/Include/Methane/UserInterface/Types.hpp
  Tests/Data/Types/PointTest.cpp
  Tests/Data/Types/RawVectorTest.cpp
  Tests/Graphics/Types/ColorTest.cpp
Due: Common Primitives, Data Types, Platform Input, Graphics Types, Graphics RHI, Graphics App, User Interface Types

Use C++20 std::numbers instead of Methane::Data::Constants
  Apps/03-TexturedCube/TexturedCubeApp.cpp
  Apps/06-CubeMapArray/CubeMapArrayApp.cpp
  Apps/07-ParallelRendering/ParallelRenderingApp.cpp
  Modules/Data/Types/CMakeLists.txt
  Modules/Data/Types/Include/Methane/Data/Constants.hpp
  Modules/Data/Types/Include/Methane/Data/Math.hpp
  Modules/Graphics/Camera/Sources/Methane/Graphics/ActionCamera.cpp
  Modules/Graphics/Camera/Sources/Methane/Graphics/ArcBallCamera.cpp
  Modules/Graphics/Camera/Sources/Methane/Graphics/Camera.cpp
  Modules/Graphics/Mesh/Include/Methane/Graphics/SphereMesh.hpp
  Modules/Graphics/Types/Include/Methane/Graphics/Types.h
  Tests/Graphics/Camera/ArcBallCameraTest.cpp
Due: Data Types, Graphics Types, Graphics Mesh, Graphics Camera

Fix build warning/error
  Apps/06-CubeMapArray/CubeMapArrayApp.cpp
Due: none

Use default implementation of the equality operators wherever possible
  Apps/06-CubeMapArray/CubeMapArrayApp.cpp
  Modules/Data/Primitives/Include/Methane/Data/AlignedAllocator.hpp
  Modules/Data/RangeSet/Include/Methane/Data/Range.hpp
  Modules/Data/Types/Include/Methane/Data/Point.hpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IBuffer.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IComputeContext.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IRenderPass.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IRenderPattern.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IRenderState.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ISampler.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IShader.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ITexture.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ResourceView.h
  Modules/Platform/Input/Mouse/Include/Methane/Platform/Input/Mouse.h
Due: Data Primitives, Data Range-Set, Data Types, Platform Input, Graphics RHI

Use lambda instead std::function in Animation classes
  Apps/02-HelloCube/HelloCubeApp.cpp
  Apps/03-TexturedCube/TexturedCubeApp.cpp
  Apps/04-ShadowCube/ShadowCubeApp.cpp
  Apps/05-Typography/TypographyApp.cpp
  Apps/06-CubeMapArray/CubeMapArrayApp.cpp
  Apps/07-ParallelRendering/ParallelRenderingApp.cpp
  Modules/Data/Animation/CMakeLists.txt
  Modules/Data/Animation/Include/Methane/Data/TimeAnimation.h
  Modules/Data/Animation/Include/Methane/Data/TimeAnimation.hpp
  Modules/Data/Animation/Sources/Methane/Data/TimeAnimation.cpp
  Modules/Graphics/Camera/Sources/Methane/Graphics/ActionCamera.cpp
Due: Data Animation, Graphics Camera

Reduce verbosity with "using enum" for Rhi::ShaderType
  Apps/01-HelloTriangle/HelloTriangleApp.cpp
  Apps/01-HelloTriangle/README.md
  Apps/02-HelloCube/HelloCubeApp.cpp
  Apps/02-HelloCube/README.md
  Apps/03-TexturedCube/README.md
  Apps/03-TexturedCube/TexturedCubeApp.cpp
  Apps/04-ShadowCube/README.md
  Apps/04-ShadowCube/ShadowCubeApp.cpp
  Apps/06-CubeMapArray/CubeMapArrayApp.cpp
  Apps/06-CubeMapArray/README.md
  Apps/07-ParallelRendering/ParallelRenderingApp.cpp
  Apps/07-ParallelRendering/README.md
  Apps/08-ConsoleCompute/ConsoleComputeApp.cpp
  Apps/08-ConsoleCompute/README.md
  Modules/Graphics/Primitives/Sources/Methane/Graphics/ScreenQuad.cpp
  Modules/Graphics/Primitives/Sources/Methane/Graphics/SkyBox.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/Program.cpp
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Program.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramArgumentBinding.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramBindings.mm
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Shader.cpp
  Modules/UserInterface/Typography/Sources/Methane/UserInterface/Text.cpp
  Tests/Graphics/RHI/ComputeCommandListTest.cpp
Due: Graphics RHI, Graphics Primitives, User Interface Typography

Revert "using enum" changes for Tutorial apps
  Apps/01-HelloTriangle/HelloTriangleApp.cpp
  Apps/01-HelloTriangle/README.md
  Apps/02-HelloCube/HelloCubeApp.cpp
  Apps/02-HelloCube/README.md
  Apps/03-TexturedCube/README.md
  Apps/03-TexturedCube/TexturedCubeApp.cpp
  Apps/04-ShadowCube/README.md
  Apps/04-ShadowCube/ShadowCubeApp.cpp
  Apps/06-CubeMapArray/CubeMapArrayApp.cpp
  Apps/06-CubeMapArray/README.md
  Apps/07-ParallelRendering/ParallelRenderingApp.cpp
  Apps/07-ParallelRendering/README.md
  Apps/08-ConsoleCompute/ConsoleComputeApp.cpp
  Apps/08-ConsoleCompute/README.md
Due: none

Fix remaining analysis issues: mostly reduce verbosity with "using enum" and use std::ranges::transform
  Apps/06-CubeMapArray/CubeMapArrayApp.cpp
  Modules/Graphics/Camera/Sources/Methane/Graphics/ActionCamera.cpp
  Modules/Graphics/Primitives/Sources/Methane/Graphics/ScreenQuad.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ResourceBarriers.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ResourceView.h
  Modules/Platform/Input/Mouse/Include/Methane/Platform/Input/Mouse.h
  Modules/UserInterface/Types/Include/Methane/UserInterface/Context.h
  Modules/UserInterface/Typography/Sources/Methane/UserInterface/Text.cpp
Due: Platform Input, Graphics RHI, Graphics Primitives, Graphics Camera, User Interface Types, User Interface Typography

Fix ReportGenerator setup on Linux in Sonar Scan action
  .github/workflows/ci-sonar-scan.yml
Due: none

Support code coverage with LCov 2.0 on Ubuntu 24.04
  CMake/MethaneBuildOptions.cmake
  Tests/Coverage/GCov/CMakeLists.txt
Due: none

Fix font atlas packing algorithm regression
  Modules/Data/Primitives/Include/Methane/Data/RectBinPack.hpp
Due: Data Primitives

Use std::span in ICommandKit methods
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/CommandKit.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/CommandKit.cpp
  Modules/Graphics/RHI/Impl/Include/Methane/Graphics/RHI/CommandKit.h
  Modules/Graphics/RHI/Impl/Sources/Methane/Graphics/RHI/CommandKit.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ICommandKit.h
  Tests/Graphics/RHI/CommandKitTest.cpp
Due: Graphics RHI

Use std::span in ProgramBindings, ResourceView, ResourceBarriers, Shader; add std::span comparison operators
  Modules/Common/Primitives/Include/Methane/Memory.hpp
  Modules/Data/Primitives/Include/Methane/Data/SpanComparable.hpp
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/ProgramArgumentBinding.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramBindings.cpp
  Modules/Graphics/RHI/DirectX/Include/Methane/Graphics/DirectX/ProgramArgumentBinding.h
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/Impl/Include/Methane/Graphics/RHI/ResourceBarriers.h
  Modules/Graphics/RHI/Impl/Sources/Methane/Graphics/RHI/ResourceBarriers.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IProgramBindings.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IResource.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IResourceBarriers.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IShader.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ResourceView.h
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/IResourceBarriers.cpp
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/IShader.cpp
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/ProgramArgumentBinding.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramArgumentBinding.mm
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/ProgramArgumentBinding.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ProgramArgumentBinding.cpp
Due: Common Primitives, Data Primitives, Graphics RHI

Use designated initializers in tutorial apps
  Apps/01-HelloTriangle/HelloTriangleApp.cpp
  Apps/01-HelloTriangle/README.md
  Apps/02-HelloCube/HelloCubeApp.cpp
  Apps/02-HelloCube/README.md
  Apps/03-TexturedCube/README.md
  Apps/03-TexturedCube/TexturedCubeApp.cpp
  Apps/04-ShadowCube/README.md
  Apps/04-ShadowCube/ShadowCubeApp.cpp
  Apps/05-Typography/README.md
  Apps/05-Typography/TypographyApp.cpp
  Apps/06-CubeMapArray/CubeMapArrayApp.cpp
  Apps/07-ParallelRendering/ParallelRenderingApp.cpp
  Apps/07-ParallelRendering/README.md
  Apps/08-ConsoleCompute/ConsoleComputeApp.cpp
  Apps/08-ConsoleCompute/README.md
  Apps/Common/Sources/Methane/Tutorials/AppSettings.cpp
  Apps/Common/Sources/Methane/Tutorials/TextureLabeler.cpp
  Modules/Platform/App/Include/Methane/Platform/IApp.h
  Modules/Platform/App/Sources/Methane/Platform/AppBase.cpp
  Modules/Platform/App/Sources/Methane/Platform/Linux/AppLin.cpp
Due: Platform App

Use designated initializers in primitives and UI
  Modules/Graphics/Primitives/Sources/Methane/Graphics/ScreenQuad.cpp
  Modules/Graphics/Primitives/Sources/Methane/Graphics/SkyBox.cpp
  Modules/UserInterface/Typography/Sources/Methane/UserInterface/Text.cpp
Due: Graphics Primitives, User Interface Typography

Upgrade code to C++20, fix remaining sonar-scanner issues
  Apps/05-Typography/TypographyApp.cpp
  Apps/Common/Sources/Methane/Tutorials/AppSettings.cpp
  Modules/Data/Primitives/Include/Methane/Data/SpanComparable.hpp
  Modules/Graphics/Camera/Sources/Methane/Graphics/ActionCamera.cpp
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/ProgramArgumentBinding.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/CommandKit.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramBindings.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ResourceBarriers.cpp
  Modules/Graphics/RHI/DirectX/Include/Methane/Graphics/DirectX/ProgramArgumentBinding.h
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IProgramBindings.h
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/ProgramArgumentBinding.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Buffer.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/BufferSet.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ComputeState.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramArgumentBinding.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramBindings.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/RenderCommandList.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/RenderContext.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/RenderPass.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/RenderState.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Resource.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Sampler.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Shader.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/System.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Texture.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Types.mm
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/CommandList.hpp
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/ProgramArgumentBinding.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Shader.cpp
  Modules/Platform/App/Sources/Methane/Platform/Linux/AppLin.cpp
  Modules/UserInterface/Typography/Sources/Methane/UserInterface/FontChar.cpp
Due: Data Primitives, Platform App, Graphics RHI, Graphics Camera, User Interface Typography

Upgrade code to C++20, fix last remaining sonar-scanner issues
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramBindings.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Shader.cpp
Due: Graphics RHI

Add unit tests coverage description in markdown documents
  Modules/Data/README.md
  Modules/Graphics/README.md
  Modules/Graphics/RHI/README.md
  Modules/Platform/README.md
  Modules/README.md
  Modules/UserInterface/README.md
  Tests/Data/Events/README.md
  Tests/Data/README.md
  Tests/Data/RangeSet/README.md
  Tests/Data/Types/README.md
  Tests/Graphics/Camera/README.md
  Tests/Graphics/README.md
  Tests/Graphics/RHI/README.md
  Tests/Graphics/Types/README.md
  Tests/Platform/Input/README.md
  Tests/Platform/README.md
  Tests/README.md
  Tests/UserInterface/README.md
  Tests/UserInterface/Types/README.md
Due: Graphics RHI

Add Rhi::System unit-test
  .vscode/settings.json
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/System.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IDevice.h
  Modules/Graphics/RHI/Null/Sources/Methane/Graphics/Null/System.cpp
  Tests/Graphics/RHI/CMakeLists.txt
  Tests/Graphics/RHI/README.md
  Tests/Graphics/RHI/SystemTest.cpp
Due: Graphics RHI

Add Rhi::Device unit-test
  Modules/Graphics/RHI/Impl/Include/Methane/Graphics/RHI/Device.h
  Modules/Graphics/RHI/Impl/Sources/Methane/Graphics/RHI/Device.cpp
  Modules/Graphics/RHI/Null/Include/Methane/Graphics/Null/System.h
  Tests/Graphics/RHI/CMakeLists.txt
  Tests/Graphics/RHI/DeviceTest.cpp
  Tests/Graphics/RHI/README.md
  Tests/Graphics/RHI/RhiTestHelpers.hpp
Due: Graphics RHI

Fix Linux/Mac build
  Tests/Graphics/RHI/DeviceTest.cpp
Due: none

Add Rhi::CommandListSet unit-test
  Tests/Graphics/RHI/CMakeLists.txt
  Tests/Graphics/RHI/CommandListSetTest.cpp
  Tests/Graphics/RHI/README.md
Due: none

Extend Rhi::CommandListSet unit-tests
  Tests/Graphics/RHI/CommandListSetTest.cpp
Due: none

Add Rhi::RenderContext::GetComputeCommandKit()
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RenderContext.cpp
  Modules/Graphics/RHI/Impl/Include/Methane/Graphics/RHI/RenderContext.h
  Modules/Graphics/RHI/Impl/Sources/Methane/Graphics/RHI/RenderContext.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IRenderContext.h
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/IRenderContext.cpp
Due: Graphics RHI

Add Rhi::RenderContext unit-test
  Modules/Graphics/Types/Include/Methane/Graphics/Color.hpp
  Tests/Graphics/RHI/CMakeLists.txt
  Tests/Graphics/RHI/ComputeContextTest.cpp
  Tests/Graphics/RHI/README.md
  Tests/Graphics/RHI/RenderContextTest.cpp
  Tests/Graphics/RHI/RenderStateSettings.hpp
Due: Graphics Types

Add Rhi::RenderState unit-test
  Modules/Graphics/RHI/Impl/Sources/Methane/Graphics/RHI/RenderState.cpp
  Modules/Platform/AppView/Include/Methane/Platform/Linux/AppEnvironment.h
  Tests/Graphics/RHI/CMakeLists.txt
  Tests/Graphics/RHI/ComputeStateTest.cpp
  Tests/Graphics/RHI/README.md
  Tests/Graphics/RHI/RenderContextTest.cpp
  Tests/Graphics/RHI/RenderStateTest.cpp
  Tests/Graphics/RHI/RhiSettings.hpp
Due: Platform App-View, Graphics RHI

Fix unit-tests build on MacOS
  Tests/Graphics/RHI/RenderContextTest.cpp
  Tests/Graphics/RHI/RenderStateTest.cpp
Due: none

Path conditions:
  Common Primitives: any of: Modules/Common/Primitives/**, but not: Tests, Apps
  Data Animation: (any of: Modules/Data/Animation/**, but not: Tests, Apps) or (any of: Modules/Data/Events/**, Tests/Data/Events/**, but not: Tests, Apps)
  Data Primitives: any of: Modules/Data/Primitives/**, but not: Tests, Apps
  Data Provider: any of: Modules/Data/Provider/**, but not: Tests, Apps
  Data Range-Set: any of: Modules/Data/RangeSet/**, Tests/Data/RangeSet/**, but not: Tests, Apps
  Data Types: any of: Modules/Data/Types/**, Tests/Data/Types/**, but not: Tests, Apps
  Platform Utils: any of: Modules/Platform/Utils/**, but not: Tests, Apps
  Platform Input: any of: Modules/Platform/Input/**, Tests/Platform/Input/**, but not: Tests, Apps
  Platform App-View: any of: Modules/Platform/AppView/**, but not: Tests, Apps
  Platform App: any of: Modules/Platform/App/**, but not: Tests, Apps
  Graphics Types: any of: Modules/Graphics/Types/**, Tests/Graphics/Types/**, but not: Tests, Apps
  Graphics RHI: any of: Modules/Graphics/RHI/**, but not: Tests, Apps
  Graphics Primitives: any of: Modules/Graphics/Primitives/**, but not: Tests, Apps
  Graphics Mesh: any of: Modules/Graphics/Mesh/**, but not: Tests, Apps
  Graphics Camera: any of: Modules/Graphics/Camera/**, Tests/Graphics/Camera/**, but not: Tests, Apps
  Graphics App: any of: Modules/Graphics/App/**, but not: Tests, Apps
  User Interface Types: any of: Modules/UserInterface/Types/**, Tests/UserInterface/Types/**, but not: Tests, Apps
  User Interface Typography: any of: Modules/UserInterface/Typography/**, but not: Tests, Apps
  User Interface Widgets: any of: Modules/UserInterface/Widgets/**, but not: Tests, Apps
  User Interface App: any of: Modules/UserInterface/App/**, but not: Tests, Apps
