Repository MethanePowered/MethaneKit: changes, and which Codecov flags are due for each by the changed paths.
All: Common Primitives, Data Animation, Data Primitives, Data Provider, Data Range-Set, Data Types, Platform Utils, Platform Input, Platform App-View, Platform App, Graphics Types, Graphics RHI, Graphics Primitives, Graphics Mesh, Graphics Camera, Graphics App, User Interface Types, User Interface Typography, User Interface Widgets, User Interface App

Fix CI yml command syntax
  .github/workflows/ci-build.yml
  .github/workflows/ci-codeql-scan.yml
  .github/workflows/ci-sonar-scan.yml
Due: none

Disable CI coverage report on forks because of dependency from CI Sonar Scan workflow
  .github/workflows/ci-tests-coverage.yml
Due: none

Add Apple application RPATH to /usr/local/lib to find libvulkan.1.lib
  .idea/cmake.xml
  CMake/MethaneGlobalOptions.cmake
  Modules/Graphics/RHI/Vulkan/CMakeLists.txt
Due: Graphics RHI

Add BufferSet unit-tests
  Tests/Graphics/RHI/BufferSetTest.cpp
  Tests/Graphics/RHI/BufferTest.cpp
  Tests/Graphics/RHI/CMakeLists.txt
  Tests/Graphics/RHI/FenceTest.cpp
Due: none

Add CommandKit unit-tests
  Tests/Graphics/RHI/BufferSetTest.cpp
  Tests/Graphics/RHI/CMakeLists.txt
  Tests/Graphics/RHI/CommandKitTest.cpp
Due: none

Add CommandListDebugGroup unit-tests
  Modules/Graphics/RHI/Impl/Include/Methane/Graphics/RHI/CommandListDebugGroup.h
  Tests/Graphics/RHI/CMakeLists.txt
  Tests/Graphics/RHI/CommandListDebugGroupTest.cpp
Due: Graphics RHI

Use std::string_view for sub-group names of CommandListDebugGroup
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/CommandListDebugGroup.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/CommandListDebugGroup.cpp
  Modules/Graphics/RHI/Impl/Include/Methane/Graphics/RHI/CommandListDebugGroup.h
  Modules/Graphics/RHI/Impl/Sources/Methane/Graphics/RHI/CommandListDebugGroup.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ICommandListDebugGroup.h
  Tests/Graphics/RHI/CommandListDebugGroupTest.cpp
  Tests/Graphics/RHI/RhiTestHelpers.hpp
Due: Graphics RHI

Fix clang linker warnings on MacOS
  CMake/MethaneBuildOptions.cmake
  CMake/MethaneGlobalOptions.cmake
Due: none

Fix linker error
  CMake/MethaneBuildOptions.cmake
Due: none

Use -no_warn_duplicate_libraries flag only for AppleClang version >= 15.0
  CMake/MethaneBuildOptions.cmake
  CMake/MethaneGlobalOptions.cmake
Due: none

Try to fix MacOS Vulkan build by removing DXC binaries from quarantine
  Externals/DirectXShaderCompilerBinary.cmake
Due: none

Fix DirectXShaderCompiler binary unpack
  Externals/DirectXShaderCompilerBinary.cmake
Due: none

Fix DirectXShaderCompiler binary unpack once again
  Externals/DirectXShaderCompilerBinary.cmake
Due: none

Mute MSMC deprecation MSVC warnings about use of stdext::checked_array_iterator
  CMake/MethaneBuildOptions.cmake
Due: none

Check MacOS build with update of DXC to v1.7.2308
  Externals/DirectXShaderCompilerBinary.cmake
Due: none

Check Windows build with update of DXC to v1.7.2308
  Externals/DirectXShaderCompilerBinary.cmake
  Modules/Graphics/RHI/DirectX/CMakeLists.txt
Due: Graphics RHI

Fix Windows builds with correct symbols of D3DCompiler
  Externals/DirectXShaderCompilerBinary.cmake
Due: none

Fix DirectXShaderCompiler build with remove of missing header config.h
  Externals/DirectXShaderCompilerBinary.cmake
Due: none

Update DXC binaries to v1.7.2308
  Externals/DirectXShaderCompilerBinary.cmake
Due: none

Update DXC version in Externals/README.md
  Externals/README.md
Due: none

Add experimental support of Apple's Metal Shader Converter instead of SPIRV-Cross
  Build/README.md
  CMake/MethaneShaders.cmake
  CMakeLists.txt
  Modules/Graphics/RHI/Metal/CMakeLists.txt
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/Shader.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Shader.mm
Due: Graphics RHI

Update SPIRVCross with pre-built binaries to vulkan-sdk-1.3.268.0
  Externals/README.md
  Externals/SPIRVCross.cmake
  Externals/SPIRVCrossBinary.cmake
Due: none

Fix Vulkan RHI overhead of ProgramBindings::Apply in multi-threaded execution, because of mutex lock in Vulkan::Program::GetNativePipelineLayout
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/Program.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ComputeState.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Program.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ProgramBindings.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderState.cpp
Due: Graphics RHI

Add missing <cassert> headers
  Modules/Graphics/Mesh/Include/Methane/Graphics/IcosahedronMesh.hpp
  Modules/Graphics/RHI/DirectX/Include/Methane/Graphics/DirectX/Resource.hpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/DescriptorHeap.cpp
  Modules/Graphics/RHI/Null/Sources/Methane/Graphics/Null/RenderContext.cpp
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/Resource.hpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderContext.cpp
  Modules/UserInterface/Typography/Sources/Methane/UserInterface/Text.cpp
Due: Graphics RHI, Graphics Mesh, User Interface Typography

Extract shell scripts from CI Build and Sonar Scan workflows to separate files
  .github/workflows/ci-build.yml
  .github/workflows/ci-sonar-scan.yml
  .github/workflows/ci-tests-report.yml
  Build/Unix/CI/CMakeBuildPreset.sh
  Build/Unix/CI/CMakeConfigurePreset.sh
  Build/Unix/CI/DownloadTracyRelease.sh
  Build/Unix/CI/InstallLinuxPrerequisites.sh
  Build/Unix/CI/InstallVulkanSdk.sh
  Build/Unix/CI/RunSonarScanner.sh
  Build/Unix/CI/RunUnitTests.sh
  Build/Unix/CI/RunUnitTestsWithCoverage.sh
  Build/Unix/CI/UpdateBadgeParameters.sh
  Build/Unix/CI/WriteBuildInfo.sh
  Build/Windows/Build.bat
  Build/Windows/CI/DownloadOpenCppCoverageRelease.ps1
  Build/Windows/CI/DownloadSonarScanner.ps1
  Build/Windows/CI/RunUnitTests.bat
  Build/Windows/CI/RunUnitTestsWithCoverage.bat
Due: none

Disable unit-tests in Profile builds
  CMakePresets.json
Due: none

Enable "CI Sonar Scan" workflow for external pull-requests from forks
  .github/workflows/ci-sonar-scan.yml
Due: none

Dumb changes
  Modules/Data/Types/Include/Methane/Data/TimeRange.hpp
  Modules/Graphics/App/Include/Methane/Graphics/AppCameraController.h
  Modules/Graphics/App/Sources/Methane/Graphics/AppBase.cpp
  Modules/Graphics/App/Sources/Methane/Graphics/AppCameraController.cpp
Due: Data Types, Graphics App

Simple change
  Modules/Graphics/App/Sources/Methane/Graphics/AppCameraController.cpp
Due: Graphics App

Another change
  Modules/Graphics/App/Include/Methane/Graphics/AppBase.h
Due: Graphics App

One more dummy change
  Modules/Graphics/App/Include/Methane/Graphics/AppBase.h
Due: Graphics App

Another dummy change
  Modules/Graphics/App/Include/Methane/Graphics/AppBase.h
Due: Graphics App

Yet another dummy change
  Modules/Graphics/App/Include/Methane/Graphics/AppBase.h
Due: Graphics App

Fix Sonar Scan workflow for external pull requests
  .github/workflows/ci-sonar-scan.yml
  Build/Unix/CI/RunSonarScanner.sh
Due: none

Yet another dummy change again
  Modules/Graphics/App/Include/Methane/Graphics/AppBase.h
Due: Graphics App

Remove NOSONAR comments
  Modules/Graphics/App/Include/Methane/Graphics/AppBase.h
Due: Graphics App

Path conditions:
  Common Primitives: any of: Modules/Common/Primitives/**, but not: Tests, Apps
  Data Animation: (any of: Modules/Data/Animation/**, but not: Tests, Apps) or (any of: Modules/Data/Events/**, Tests/Data/Events/**, but not: Tests, Apps)
  Data Primitives: any of: Modules/Data/Primitives/**, but not: Tests, Apps
  Data Provider: any of: Modules/Data/Provider/**, but not: Tests, Apps
  Data Range-Set: any of: Modules/Data/RangeSet/**, Tests/Data/RangeSet/**, but not: Tests, Apps
  Data Types: any of: Modules/Data/Types/**, Tests/Data/Types/**, but not: Tests, Apps
  Platform Utils: any of: Modules/Platform/Utils/**, but not: Tests, Apps
  Platform Input: any of: Modules/Platform/Input/**, Tests/Platform/Input/**, but not: Tests, Apps
  Platform App-View: any of: Modules/Platform/AppView/**, but not: Tests, Apps
  Platform App: any of: Modules/Platform/App/**, but not: Tests, Apps
  Graphics Types: any of: Modules/Graphics/Types/**, Tests/Graphics/Types/**, but not: Tests, Apps
  Graphics RHI: any of: Modules/Graphics/RHI/**, but not: Tests, Apps
  Graphics Primitives: any of: Modules/Graphics/Primitives/**, but not: Tests, Apps
  Graphics Mesh: any of: Modules/Graphics/Mesh/**, but not: Tests, Apps
  Graphics Camera: any of: Modules/Graphics/Camera/**, Tests/Graphics/Camera/**, but not: Tests, Apps
  Graphics App: any of: Modules/Graphics/App/**, but not: Tests, Apps
  User Interface Types: any of: Modules/UserInterface/Types/**, Tests/UserInterface/Types/**, but not: Tests, Apps
  User Interface Typography: any of: Modules/UserInterface/Typography/**, but not: Tests, Apps
  User Interface Widgets: any of: Modules/UserInterface/Widgets/**, but not: Tests, Apps
  User Interface App: any of: Modules/UserInterface/App/**, but not: Tests, Apps
