Repository MethanePowered/MethaneKit: changes, and which Codecov flags are due for each by the changed paths.
All: Common Primitives, Data Animation, Data Primitives, Data Provider, Data Range-Set, Data Types, Platform Utils, Platform Input, Platform App-View, Platform App, Graphics Types, Graphics RHI, Graphics Primitives, Graphics Mesh, Graphics Camera, Graphics App, User Interface Types, User Interface Typography, User Interface Widgets, User Interface App

Fix ProgramBindings conversion to string operator
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramBindings.cpp
  Tests/Graphics/RHI/ProgramBindingsTest.cpp
Due: Graphics RHI

Fix Vulkan validation error on set Resource Barriers in Compute Command List
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/IResource.cpp
Due: Graphics RHI

Fix crash on text mesh update
  Modules/UserInterface/Typography/Sources/Methane/UserInterface/TextMesh.cpp
Due: User Interface Typography

Fix graphics objects release
  Apps/08-ConsoleCompute/ConsoleComputeApp.cpp
Due: none

Fix Vulkan validation warning in VkImageSubresourceRange::aspectMask
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Texture.cpp
Due: Graphics RHI

Add more controls description in Console Compute tutorial
  Apps/08-ConsoleCompute/ConsoleApp.cpp
Due: none

Add FTXUI library to Externals README.md
  Externals/README.md
Due: none

Remove odd noexcept
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/Texture.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Texture.cpp
Due: Graphics RHI

Update SetData usage in documents
  Apps/02-HelloCube/README.md
  Apps/03-TexturedCube/README.md
  Apps/04-ShadowCube/README.md
Due: none

Add unit-tests for RHI ViewState
  Tests/Graphics/RHI/CMakeLists.txt
  Tests/Graphics/RHI/ComputeStateTest.cpp
  Tests/Graphics/RHI/ViewStateTest.cpp
Due: none

Optionally enable dynamic state extension in Vulkan::Device only when it is supported
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/Device.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Device.cpp
Due: Graphics RHI

Add monolithic Pipeline state support for Vulkan when dynamic state extension is not available
  Modules/Data/Types/Include/Methane/Data/Rect.hpp
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/RenderCommandList.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RenderCommandList.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IViewState.h
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/IViewState.cpp
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/RenderState.h
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/ViewState.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderCommandList.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderState.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ViewState.cpp
  Modules/Graphics/Types/Include/Methane/Graphics/Volume.hpp
Due: Data Types, Graphics Types, Graphics RHI

Deferred applying of the monolithic pipeline state for Vulkan
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/RenderState.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RenderCommandList.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RenderState.cpp
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/RenderCommandList.h
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/RenderState.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderCommandList.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderState.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ViewState.cpp
Due: Graphics RHI

Fix extension names set in Vulkan device
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IDevice.h
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/Device.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Device.cpp
Due: Graphics RHI

Fix dynamic state flags in the Pipeline create info
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderState.cpp
Due: Graphics RHI

Fix more Vulkan bugs related to monolythic pipeline state
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/RenderCommandList.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RenderCommandList.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Device.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderCommandList.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ViewState.cpp
  Modules/UserInterface/Typography/Sources/Methane/UserInterface/Text.cpp
Due: Graphics RHI, User Interface Typography

Fix string typos
  Modules/Graphics/Primitives/Include/Methane/Graphics/ImageLoader.h
  Modules/Graphics/Primitives/Sources/Methane/Graphics/ImageLoader.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/Texture.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderContext.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Texture.cpp
Due: Graphics RHI, Graphics Primitives

Invalidate frame buffer of the command buffer on render pass update
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/CommandList.hpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderCommandList.cpp
Due: Graphics RHI

Remove unused extensions: VK_KHR_SYNCHRONIZATION_2 and VK_GOOGLE_*
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Device.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/System.cpp
Due: Graphics RHI

Workaround crash in validation layer on MacOS
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/CommandListSet.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/CommandListSet.cpp
Due: Graphics RHI

Update Vulkan pipeline monolithic state on view state change or destruction
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/ViewState.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ViewState.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IViewState.h
  Modules/Graphics/RHI/Null/Include/Methane/Graphics/Null/ViewState.h
  Modules/Graphics/RHI/Null/Sources/Methane/Graphics/Null/ViewState.cpp
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/RenderState.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderState.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ViewState.cpp
Due: Graphics RHI

Add deferred release of Vulkan pipeline objects
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/RenderContext.h
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/RenderState.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderContext.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderState.cpp
Due: Graphics RHI

Fix obsolete Vulkan pipeline destruction
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderState.cpp
Due: Graphics RHI

Fix Vulkan thread-safety issues in ParallelRendering tutorial
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/Program.h
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/RenderState.h
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/Shader.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Program.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderState.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Shader.cpp
Due: Graphics RHI

Modify CMake warning about support of the Vulkan API on MacOS
  CMake/MethaneGlobalOptions.cmake
Due: none

Update Vulkan headers to v1.3.251
  Externals/VulkanHeaders.cmake
Due: none

Mute Vulkan validation warning for vkCmdPipelineBarrier(): .dstStageMask must not be 0 unless synchronization2 is enabled (appears on Linux only)
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/System.cpp
Due: Graphics RHI

Fix Vulkan ParallelRenderCommandList command buffers refresh on RenderPass update
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ParallelRenderCommandList.cpp
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/CommandList.hpp
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/ParallelRenderCommandList.h
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/RenderCommandList.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ParallelRenderCommandList.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderCommandList.cpp
Due: Graphics RHI

Fix SonarCloud code analysis issues
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/ViewState.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ViewState.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IViewState.h
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/RenderState.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Device.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderState.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ViewState.cpp
Due: Graphics RHI

Fix Vulkan ParallelRenderCommandList debug groups encoding
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ParallelRenderCommandList.cpp
Due: Graphics RHI

Fix Vulkan ParallelRenderCommandList execution wait for Frame Image available semaphore
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/ParallelRenderCommandList.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ParallelRenderCommandList.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RenderCommandList.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/ParallelRenderCommandList.cpp
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ParallelRenderCommandList.mm
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/ParallelRenderCommandList.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/CommandListSet.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ParallelRenderCommandList.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderCommandList.cpp
Due: Graphics RHI

Fix SonarCloud code analysis issue for ViewState
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/ViewState.h
Due: Graphics RHI

Allow CI Build workflow to run in forks by removing cron schedule; prevent CI Sonar Scan workflow to run in forks by adding cron schedule
  .github/workflows/ci-build.yml
  .github/workflows/ci-codeql-scan.yml
  .github/workflows/ci-sonar-scan.yml
Due: none

Fix SonarCloud code analysis issues
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/CommandList.hpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/CommandListSet.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ParallelRenderCommandList.cpp
Due: Graphics RHI

Fix Vulkan::Headers CMake target duplication when VULKAN_SDK path is defined
  Externals/VulkanHeaders.cmake
Due: none

Fix Vulkan validation error: image owner transition barrier with undefined layout
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ResourceBarriers.cpp
Due: Graphics RHI

Fix SonarCloud code analysis issue
  Build/Windows/Build.bat
Due: none

Fix SonarCloud code analysis issue
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/CommandListSet.cpp
Due: Graphics RHI

Add Vulkan RHI support of ErrorSurfaceLostKHR on acquireNextImageKHR
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/RenderContext.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/RenderContext.cpp
Due: Graphics RHI

Add SetObjectName template function for safe string formatted naming of RHI objects
  Apps/01-HelloTriangle/HelloTriangleApp.cpp
  Apps/01-HelloTriangle/README.md
  Apps/02-HelloCube/HelloCubeApp.cpp
  Apps/03-TexturedCube/TexturedCubeApp.cpp
  Apps/04-ShadowCube/ShadowCubeApp.cpp
  Apps/05-Typography/TypographyApp.cpp
  Apps/06-CubeMapArray/CubeMapArrayApp.cpp
  Apps/07-ParallelRendering/ParallelRenderingApp.cpp
  Apps/Common/Sources/Methane/Tutorials/TextureLabeler.cpp
  Modules/Graphics/App/Include/Methane/Graphics/App.hpp
  Modules/Graphics/App/Include/Methane/Graphics/AppBase.h
  Modules/Graphics/App/Sources/Methane/Graphics/AppBase.cpp
  Modules/Graphics/Primitives/Include/Methane/Graphics/MeshBuffers.hpp
  Modules/Graphics/Primitives/Sources/Methane/Graphics/MeshBuffersBase.cpp
  Modules/Graphics/Primitives/Sources/Methane/Graphics/ScreenQuad.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/CommandKit.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/Context.cpp
  Modules/Graphics/RHI/Interface/CMakeLists.txt
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ObjectName.hpp
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/Utils.hpp
  Modules/UserInterface/Typography/Sources/Methane/UserInterface/FontImpl.hpp
  Modules/UserInterface/Typography/Sources/Methane/UserInterface/Text.cpp
Due: Graphics RHI, Graphics Primitives, Graphics App, User Interface Typography

Path conditions:
  Common Primitives: any of: Modules/Common/Primitives/**, but not: Tests, Apps
  Data Animation: (any of: Modules/Data/Animation/**, but not: Tests, Apps) or (any of: Modules/Data/Events/**, Tests/Data/Events/**, but not: Tests, Apps)
  Data Primitives: any of: Modules/Data/Primitives/**, but not: Tests, Apps
  Data Provider: any of: Modules/Data/Provider/**, but not: Tests, Apps
  Data Range-Set: any of: Modules/Data/RangeSet/**, Tests/Data/RangeSet/**, but not: Tests, Apps
  Data Types: any of: Modules/Data/Types/**, Tests/Data/Types/**, but not: Tests, Apps
  Platform Utils: any of: Modules/Platform/Utils/**, but not: Tests, Apps
  Platform Input: any of: Modules/Platform/Input/**, Tests/Platform/Input/**, but not: Tests, Apps
  Platform App-View: any of: Modules/Platform/AppView/**, but not: Tests, Apps
  Platform App: any of: Modules/Platform/App/**, but not: Tests, Apps
  Graphics Types: any of: Modules/Graphics/Types/**, Tests/Graphics/Types/**, but not: Tests, Apps
  Graphics RHI: any of: Modules/Graphics/RHI/**, but not: Tests, Apps
  Graphics Primitives: any of: Modules/Graphics/Primitives/**, but not: Tests, Apps
  Graphics Mesh: any of: Modules/Graphics/Mesh/**, but not: Tests, Apps
  Graphics Camera: any of: Modules/Graphics/Camera/**, Tests/Graphics/Camera/**, but not: Tests, Apps
  Graphics App: any of: Modules/Graphics/App/**, but not: Tests, Apps
  User Interface Types: any of: Modules/UserInterface/Types/**, Tests/UserInterface/Types/**, but not: Tests, Apps
  User Interface Typography: any of: Modules/UserInterface/Typography/**, but not: Tests, Apps
  User Interface Widgets: any of: Modules/UserInterface/Widgets/**, but not: Tests, Apps
  User Interface App: any of: Modules/UserInterface/App/**, but not: Tests, Apps
