Repository MethanePowered/MethaneKit: changes, and which Codecov flags are due for each by the changed paths.
All: Common Primitives, Data Animation, Data Primitives, Data Provider, Data Range-Set, Data Types, Platform Utils, Platform Input, Platform App-View, Platform App, Graphics Types, Graphics RHI, Graphics Primitives, Graphics Mesh, Graphics Camera, Graphics App, User Interface Types, User Interface Typography, User Interface Widgets, User Interface App

.codecov.yml:

codecov:
  require_ci_to_pass: true

coverage:
  precision: 2
  range: "20..70"
  round: up
  status:
    project:
      default:
        target: auto
        threshold: 5%
    patch:
      default:
        informational: true
        only_pulls: true

ignore:
  - "Tests"
  - "Apps"

component_management:
  individual_components:
    - component_id: common-primitives
      name: Common Primitives
      paths:
        - Modules/Common/Primitives/**
    - component_id: data-animation
      name: Data Animation
      paths:
        - Modules/Data/Animation/**
    - component_id: data-events
      name: Data Animation
      paths:
        - Modules/Data/Events/**
        - Tests/Data/Events/**
    - component_id: data-primitives
      name: Data Primitives
      paths:
        - Modules/Data/Primitives/**
    - component_id: data-provider
      name: Data Provider
      paths:
        - Modules/Data/Provider/**
    - component_id: data-range-set
      name: Data Range-Set
      paths:
        - Modules/Data/RangeSet/**
        - Tests/Data/RangeSet/**
    - component_id: data-types
      name: Data Types
      paths:
        - Modules/Data/Types/**
        - Tests/Data/Types/**
    - component_id: platform-utils
      name: Platform Utils
      paths:
        - Modules/Platform/Utils/**
    - component_id: platform-input
      name: Platform Input
      paths:
        - Modules/Platform/Input/**
        - Tests/Platform/Input/**
    - component_id: platform-app-view
      name: Platform App-View
      paths:
        - Modules/Platform/AppView/**
    - component_id: platform-app
      name: Platform App
      paths:
        - Modules/Platform/App/**
    - component_id: graphics-types
      name: Graphics Types
      paths:
        - Modules/Graphics/Types/**
        - Tests/Graphics/Types/**
    - component_id: graphics-rhi
      name: Graphics RHI
      paths:
        - Modules/Graphics/RHI/**
    - component_id: graphics-primitives
      name: Graphics Primitives
      paths:
        - Modules/Graphics/Primitives/**
    - component_id: graphics-mesh
      name: Graphics Mesh
      paths:
        - Modules/Graphics/Mesh/**
    - component_id: graphics-camera
      name: Graphics Camera
      paths:
        - Modules/Graphics/Camera/**
        - Tests/Graphics/Camera/**
    - component_id: graphics-app
      name: Graphics App
      paths:
        - Modules/Graphics/App/**
    - component_id: user-interface-types
      name: User Interface Types
      paths:
        - Modules/UserInterface/Types/**
        - Tests/UserInterface/Types/**
    - component_id: user-interface-typography
      name: User Interface Typography
      paths:
        - Modules/UserInterface/Typography/**
    - component_id: user-interface-widgets
      name: User Interface Widgets
      paths:
        - Modules/UserInterface/Widgets/**
    - component_id: user-interface-app
      name: User Interface App
      paths:
        - Modules/UserInterface/App/**

Fix Metal RHI build with XCode 16 for macOS Sequoia
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Program.mm
Due: Graphics RHI

Fix ShadowCube uniform structs alignment for Vulkan build on macOS
  Apps/04-ShadowCube/Shaders/ShadowCube.hlsl
  Apps/04-ShadowCube/Shaders/ShadowCubeUniforms.h
  Apps/04-ShadowCube/ShadowCubeApp.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramArgumentBinding.cpp
Due: Graphics RHI

Fix MacOS build compatibility with older Xcode versions
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Program.mm
Due: Graphics RHI

Fix MacOS build
  Externals/Tracy.cmake
  Modules/Data/Primitives/Include/Methane/Data/AlignedAllocator.hpp
  Modules/Platform/App/Sources/Methane/Platform/MacOS/AppViewController.hh
Due: Data Primitives, Platform App

Fix Linux build
  Modules/Platform/App/Sources/Methane/Platform/Linux/AppLin.cpp
Due: Platform App

Move TexturedCube constants from header to cpp
  Apps/03-TexturedCube/TexturedCubeApp.cpp
  Apps/03-TexturedCube/TexturedCubeApp.h
  Apps/04-ShadowCube/ShadowCubeApp.cpp
Due: none

Update GH actions to use latest version of Node.js
  .github/workflows/ci-sonar-scan.yml
  .github/workflows/ci-tests-report.yml
Due: none

Split RootConstantBuffer of program to mutable, constant and frame-constant buffers
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/Program.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/ProgramArgumentBinding.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/RootConstantBuffer.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/Program.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramBindings.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RootConstantBuffer.cpp
Due: Graphics RHI

Use shader register space for root constant arguments specification
  Apps/02-HelloCube/HelloCubeApp.cpp
  Apps/02-HelloCube/Shaders/HelloCube.hlsl
  Apps/03-TexturedCube/Shaders/TexturedCube.hlsl
  Apps/03-TexturedCube/TexturedCubeApp.cpp
  Apps/04-ShadowCube/Shaders/ShadowCube.hlsl
  Apps/04-ShadowCube/ShadowCubeApp.cpp
  CMake/MethaneShaders.cmake
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/Shader.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ProgramArgument.h
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/ProgramArgument.cpp
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/Program.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Program.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Shader.mm
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Shader.cpp
Due: Graphics RHI

Revert "Use shader register space for root constant arguments specification" Solution is incompatible with Metal argument buffers, which are created one per each register space.
  Apps/02-HelloCube/HelloCubeApp.cpp
  Apps/02-HelloCube/Shaders/HelloCube.hlsl
  Apps/03-TexturedCube/Shaders/TexturedCube.hlsl
  Apps/03-TexturedCube/TexturedCubeApp.cpp
  Apps/04-ShadowCube/Shaders/ShadowCube.hlsl
  Apps/04-ShadowCube/ShadowCubeApp.cpp
  CMake/MethaneShaders.cmake
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/Shader.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ProgramArgument.h
  Modules/Graphics/RHI/Interface/Sources/Methane/Graphics/RHI/ProgramArgument.cpp
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/Program.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Program.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/Shader.mm
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/Shader.cpp
Due: Graphics RHI

Add shader argument declaration macroses to simplify program setup with root constants
  Apps/02-HelloCube/HelloCubeApp.cpp
  Apps/03-TexturedCube/TexturedCubeApp.cpp
  Apps/04-ShadowCube/ShadowCubeApp.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/ProgramArgument.h
Due: Graphics RHI

Fix GPU timestamp queries for DirectX
  Modules/Graphics/RHI/DirectX/Include/Methane/Graphics/DirectX/Context.hpp
  Modules/Graphics/RHI/DirectX/Include/Methane/Graphics/DirectX/QueryPool.h
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/QueryPool.cpp
Due: Graphics RHI

Update Tracy to v0.11.1.1
  .github/workflows/ci-build.yml
  Externals/README.md
  Externals/Tracy.cmake
Due: none

Optimize root-constant updates without program bindings re-initialization, until root-constant buffer is re-created
  Modules/Graphics/App/Include/Methane/Graphics/AppBase.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/ComputeContext.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/Context.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/ProgramArgumentBinding.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/ProgramBindings.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/RootConstantBuffer.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ComputeContext.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/Context.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramBindings.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RootConstantBuffer.cpp
  Modules/Graphics/RHI/DirectX/Include/Methane/Graphics/DirectX/ProgramArgumentBinding.h
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IContext.h
  Modules/Graphics/RHI/Interface/Include/Methane/Graphics/RHI/IProgramBindings.h
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/DescriptorManager.hh
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/ProgramBindings.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/DescriptorManager.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramArgumentBinding.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramBindings.mm
  Modules/Graphics/RHI/Vulkan/Include/Methane/Graphics/Vulkan/ProgramArgumentBinding.h
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ProgramArgumentBinding.cpp
  Modules/UserInterface/Typography/Sources/Methane/UserInterface/FontImpl.hpp
  Tests/Graphics/RHI/ComputeContextTest.cpp
  Tests/Graphics/RHI/RhiTestHelpers.hpp
Due: Graphics RHI, Graphics App, User Interface Typography

Prevent dynamic memory allocations during root-constant setup in program bindings
  Apps/02-HelloCube/HelloCubeApp.cpp
  Apps/03-TexturedCube/TexturedCubeApp.cpp
  Apps/03-TexturedCube/TexturedCubeApp.h
  Apps/04-ShadowCube/ShadowCubeApp.cpp
  Apps/04-ShadowCube/ShadowCubeApp.h
  Modules/Data/Types/Include/Methane/Data/Chunk.hpp
Due: Data Types

Optimize update root-constant resource views for Metal
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/ProgramArgumentBinding.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramArgumentBinding.mm
Due: Graphics RHI

Add more command line options to Build.bat
  Build/Windows/Build.bat
Due: none

Fix DirectX 12 crash in Profile build on Windows 10 due to invalid initial state of the read-back buffer
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/Buffer.cpp
Due: Graphics RHI

Fix constant buffer views alignment in root constant buffer for DirectX
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/RootConstantBuffer.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RootConstantBuffer.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/Buffer.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/System.cpp
Due: Graphics RHI

Update VulkanHeaders to v1.3.296
  Externals/README.md
  Externals/VulkanHeaders.cmake
Due: none

Update Vulkan SDK to v1.3.290.0 on macOS CI
  .github/workflows/ci-build.yml
  Build/Unix/CI/InstallVulkanSdk.sh
Due: none

Fix wrong uniforms binding in ShadowCube tutorial
  Apps/04-ShadowCube/ShadowCubeApp.cpp
Due: none

Use RootConstant for Text program bindings
  Modules/UserInterface/Typography/Sources/Methane/UserInterface/Text.cpp
Due: User Interface Typography

Retain root constant buffers in program bindings when applied, so that the buffers are not deleted during commands execution
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/Program.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/ProgramBindings.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/RootConstantBuffer.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/Program.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramBindings.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/ProgramBindings.cpp
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramBindings.mm
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ProgramBindings.cpp
Due: Graphics RHI

Rework retaining of root-constant buffers to reduce runtime overhead
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/Program.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/ProgramArgumentBinding.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/ProgramBindings.h
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/RootConstantBuffer.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/Program.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramArgumentBinding.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramBindings.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RootConstantBuffer.cpp
  Modules/Graphics/RHI/DirectX/Sources/Methane/Graphics/DirectX/ProgramBindings.cpp
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramBindings.mm
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ProgramBindings.cpp
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/System.cpp
Due: Graphics RHI

Add missing connection to root-constant buffers from program bindings, used to retain destroyed buffers during execution
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramBindings.cpp
Due: Graphics RHI

Add program bindings tests of root-constant values
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/Program.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/Program.cpp
  Modules/Graphics/RHI/Impl/Include/Methane/Graphics/RHI/Program.h
  Modules/Graphics/RHI/Null/Include/Methane/Graphics/Null/Shader.h
  Modules/Graphics/RHI/Null/Sources/Methane/Graphics/Null/Shader.cpp
  Tests/Graphics/RHI/ProgramBindingsTest.cpp
Due: Graphics RHI

Refactor text resource updates
  Modules/UserInterface/Typography/Sources/Methane/UserInterface/Text.cpp
Due: User Interface Typography

Fix root constant argument binding after re-creating program bindings set (fill unused data with pre-defined constants)
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RootConstantBuffer.cpp
Due: Graphics RHI

Add validation check of the root-constant buffer range reservation
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RootConstantBuffer.cpp
Due: Graphics RHI

Update CubeMapArray and ParallelRendering tutorials to use root constants instead of uniforms buffer views
  Apps/04-ShadowCube/ShadowCubeApp.cpp
  Apps/06-CubeMapArray/CubeMapArrayApp.cpp
  Apps/06-CubeMapArray/CubeMapArrayApp.h
  Apps/06-CubeMapArray/Shaders/CubeMapArray.hlsl
  Apps/07-ParallelRendering/ParallelRenderingApp.cpp
  Apps/07-ParallelRendering/ParallelRenderingApp.h
  Apps/07-ParallelRendering/Shaders/ParallelRenderingUniforms.h
  Modules/Data/Events/Include/Methane/Data/Emitter.hpp
  Modules/Graphics/Primitives/Include/Methane/Graphics/MeshBuffers.hpp
  Modules/Graphics/Primitives/Include/Methane/Graphics/MeshBuffersBase.h
  Modules/Graphics/Primitives/Include/Methane/Graphics/SkyBox.h
  Modules/Graphics/Primitives/Sources/Methane/Graphics/MeshBuffersBase.cpp
  Modules/Graphics/Primitives/Sources/Methane/Graphics/SkyBox.cpp
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/RootConstantBuffer.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RootConstantBuffer.cpp
Due: Data Animation, Graphics RHI, Graphics Primitives

Fix MacOS build
  Apps/07-ParallelRendering/ParallelRenderingApp.cpp
Due: none

Optimize parallel use of root-constant buffer
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/RootConstantBuffer.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RootConstantBuffer.cpp
Due: Graphics RHI

Fix Linux build
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/RootConstantBuffer.h
Due: Graphics RHI

Keep two versions of ParallelRendering app in one: addressable buffer views and root constants.
  Apps/07-ParallelRendering/CMakeLists.txt
  Apps/07-ParallelRendering/ParallelRenderingApp.cpp
  Apps/07-ParallelRendering/ParallelRenderingApp.h
  Modules/Data/Events/Include/Methane/Data/Emitter.hpp
  Modules/Graphics/Primitives/Include/Methane/Graphics/MeshBuffers.hpp
  Modules/Graphics/Primitives/Include/Methane/Graphics/MeshBuffersBase.h
Due: Data Animation, Graphics Primitives

Fix multithreaded access violations of RootConstant and Metal Argument Buffers
  Modules/Graphics/RHI/Base/Include/Methane/Graphics/Base/RootConstantBuffer.h
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/ProgramBindings.cpp
  Modules/Graphics/RHI/Base/Sources/Methane/Graphics/Base/RootConstantBuffer.cpp
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/DescriptorManager.hh
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/ProgramBindings.hh
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/DescriptorManager.mm
  Modules/Graphics/RHI/Metal/Sources/Methane/Graphics/Metal/ProgramBindings.mm
Due: Graphics RHI

Fix MacOS Profile build
  Modules/Common/Instrumentation/Include/Methane/Instrumentation.h
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/DescriptorManager.hh
  Modules/Graphics/RHI/Metal/Include/Methane/Graphics/Metal/ProgramBindings.hh
Due: Graphics RHI

Disable dynamic buffer offsets for buffer views in Vulkan because of offset duplication in descriptor
  Modules/Graphics/RHI/Vulkan/Sources/Methane/Graphics/Vulkan/ProgramBindings.cpp
Due: Graphics RHI
